.top .logo-text {
    color: var(--font-h4);
    font-size: 30px;
    padding: 5px;

    margin-left: 20px;
}

.detail {
    width: 100%;
    height: 40px;

    background-color: var(--accent-main);
}

.container {
    flex-direction: row !important;
}

.content {
    position: absolute;
    width: 75%;
    height: 85%;

    max-width: 1300px;

    display: flex;
    flex-direction: row;

    background-color: var(--background-main);
    box-shadow: 0 0 15px var(--shadow-main);
}

.left,
.right {
    position: absolute;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    left: 0;
    background-color: var(--background-darker);

    background-image: url(/assets/img/otakarhu.svg);
    background-position: center center;
    background-repeat: no-repeat;

    background-size: 50%;
}

.right {
    left: 50%;
    border-top: solid 50px var(--accent-main);
}

.right h1 {
    width: 50%;
    text-align: center;

    font-size: 30px;
    margin: 10px;
    padding: 10px;
}

.right h2 {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;

    font-size: 17px;
    padding: 10px;
}

.login-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h3 {
    width: 100%;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 7px;
    margin: 10px;

    font-size: 17px;

    border: solid 1px var(--border-main);
    border-radius: 5px;

    background: none !important;
}

.login-form .info {
    width: 100%;
}

.login-form h3 strong {
    cursor: pointer;
}

.info h2 {
    width: 100%;
    font-size: 13px;
    opacity: 75%;
    border-left: solid 1px var(--border-main);
}

input::placeholder {
    color: rgba(35, 35, 35, 0.342);
    font-style: italic;
}

.terms-of-service {
    margin: 5px;
    width: 75%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.terms-of-service h2 {
    margin: 0;
    font-size: 13px;
    opacity: 75%;

    transition: opacity .2s ease-in-out;
}

.terms-of-service h2:hover {
    opacity: 100% !important;
}

.terms-of-service h2 strong {
    color: var(--font-h1);
    font-family: 'regular';

    cursor: pointer;
}

.terms-of-service input {
    margin-left: 5px;
}

.right button {
    margin: 20px;
    padding: 10px;
    margin-bottom: 60px;
    width: 200px;

    background: linear-gradient(to bottom, var(--login-lighter), var(--login-main));

    color: white;

    align-self: center;

    transition: opacity .2s ease-in-out;
}

.right button:hover {
    opacity: 65%;
}

.login-error {
    width: 80%;
    font-size: 14px;
    text-align: center;
    color: var(--error);
}

.right h6 {
    position: absolute;
    left: 20px;
    bottom: 70px;

    opacity: 20%;
}


/*

.main {
    position: absolute;
    width: 500px;
    height: 70%;

    max-height: 600px;

    margin-left: 60%;

    background-color: var(--background-darker);

    display: flex;
    justify-content: center;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.155);
    z-index: 1;

    filter: none;
}

.login {
    position: absolute;
    width: 100%;
    height: auto;

    background-color: var(--background-main);

    margin-left: -75px;
    margin-top: -75px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.155);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.login form {
    display: flex;
    flex-direction: column;

    width: 70%;
}

.login h1 {

    font-size: 35px;
    padding: 10px;
    margin: 10px;

    width: 100%;
    text-align: center;

    border-bottom: solid 1px var(--background-darker);
    margin: 20px;
    margin-bottom: 30px;
}

.login form h2 {
    font-size: 25px;
    padding: 5px;
}

.login form h3 {
    font-size: 17px;
    padding: 5px;
}

.login form input {
    padding: 10px;
    width: 100%;

    font-size: 20px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.155);

    margin-bottom: 40px;
}

#login-error {
    color: var(--error);
    align-self: center;
}

.login form #submit {
    margin: 20px;
    margin-bottom: 60px;
    width: 200px;

    background: linear-gradient(to bottom, var(--login-lighter), var(--login-main));

    color: white;

    box-shadow: 0 0 15px var(--shadow-main);

    align-self: center;
}

.login form a {
    padding: 2px;
    position: absolute;

    color: rgb(189, 189, 189);

    bottom: 5px;
    left: 5px;
}


.terms-of-service {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 3;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    position: absolute;
    width: 500px;
    height: 650px;

    background-color: var(--background-main);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.163);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
}

.top-c {
    position: fixed;
    height: 650px;
    width: 50px;
    margin-left: -500px;
    background-color: var(--accent-main);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.163);
}

.top-c h1 {
    transform: rotate(90deg);
    color: white;
    font-size: 35px;
    padding: 10px;
    width: 400px;
}

.info-container h1 {
    font-size: 20px;
    padding: 10px;
}

.info-container .content {
    width: 80%;
    padding: 10px;
    font-size: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    opacity: 75%;
}

.content h2 strong {
    font-family: 'semi-bold';
    color: red;
}

.content ul {
    margin: 10px;
}

.content button {
    margin: 20px;
    width: 200px;

    padding: 10px;

    background: linear-gradient(to bottom, var(--login-lighter), var(--login-main));

    color: white;
    font-family: 'light';

    align-self: center;
}

.content button:hover {
    opacity: 50%;
}

ul a {
    color: gray;
}

ul a strong {
    color: black;
    font-family: 'semi-bold';
}
/*