* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-family: 'regular';
}

@font-face {
    font-family: 'semi-bold';
    src: url(./assets/fonts/Inconsolata-SemiBold.ttf);
}


@font-face {
    font-family: 'regular';
    src: url(./assets/fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(./assets/fonts/Inconsolata-Light.ttf);
}


:root {
    --accent-main: #003366;

    --background-main: rgb(255, 255, 255);
    --background-darker: rgb(239, 240, 243);

    --font-h1: #003366;
    --font-h2: rgb(23, 23, 23);
    --font-h3: rgb(223, 223, 223);

    --login-main: #4D8500;
    --login-lighter: rgb(41, 163, 41);
    --error: rgb(213, 50, 50);
}

h1 {
    color: var(--font-h1);
    font-family: 'semi-bold';
}

h2 {
    color: var(--font-h2);
}

h3 {
    color: var(--font-h3);
}

.container {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    background-color: var(--accent-main);

    display: flex;
    align-items: center;
}

.logo-img {
    width: 60px;
    height: 80%;

    margin-left: 10px;

    background-size: cover;
    background-position: center center;
}

.logo-text {
    color: white;
    font-size: 30px;
    padding: 5px;
}

.detail {
    width: 100%;
    height: 40px;

    background-color: var(--accent-main);
}

.main {
    position: absolute;
    width: 500px;
    height: 70%;

    max-height: 600px;

    margin-left: 60%;

    background-color: var(--background-darker);

    display: flex;
    justify-content: center;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.155);
    z-index: 1;
}

.login {
    position: absolute;
    width: 100%;
    height: auto;

    background-color: var(--background-main);

    margin-left: -75px;
    margin-top: -75px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.155);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.login form {
    display: flex;
    flex-direction: column;

    width: 70%;
}

.login h1 {

    font-size: 35px;
    padding: 10px;
    margin: 10px;

    width: 100%;
    text-align: center;

    border-bottom: solid 1px var(--background-darker);
    margin: 20px;
    margin-bottom: 30px;
}

.login form h2 {
    font-size: 25px;
    padding: 5px;
}

.login form h3 {
    font-size: 17px;
    padding: 5px;
}

.login form input {
    padding: 10px;
    width: 100%;

    font-size: 20px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.155);

    margin-bottom: 40px;
}

#login-error {
    color: var(--error);
    align-self: center;
}

.login form #submit {
    margin: 20px;
    margin-bottom: 60px;
    width: 200px;

    background: linear-gradient(to bottom, var(--login-lighter), var(--login-main));

    color: white;
    font-family: 'light';

    align-self: center;
}

.login form a {
    padding: 2px;
    position: absolute;

    color: rgb(189, 189, 189);

    bottom: 5px;
    left: 5px;
}