<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Kurssitarjotin</title>

    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/course-tray.css">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/favicon.ico">

    <script src="/assets/scripts/course-tray.js"></script>
    <script src="/assets/scripts/nav-manager.js"></script>
    <script src="/assets/scripts/requests.js"></script>
    <script src="/assets/scripts/theme-manager.js"></script>
    <script src="/assets/scripts/error-manager.js"></script>
</head>

<body>
    <div class="disclaimer">OtaWilma on vielä kehityksen alaisena, ja toiminta on toistaiseksi rajattu laitteisiin
        joiden leveys ja korkeus ovat vähintään 1200px ja 800px</div>
    <div class="loading-screen" id="loading"></div>
    <div class="container">
        <div class="background" id="background"></div>
        <div class="top" id="top">
            <div class="user-info">
                <div class="user-data">
                    <h1 id="username"></h1>
                    <h2>Opiskelija</h2>
                    <div class="logout" id="logout">
                        <h6>Kirjaudu ulos</h6>
                    </div>
                </div>
            </div>
            <button id="/views/frontpage.html">
                <h1 class="logo-text">OtaWilma</h1>
            </button>
            <button id="/views/messages.html">
                <h5>Viestit</h5>
            </button>
            <button id="/views/grades.html">
                <h5>Opinnot</h5>
            </button>
            <button id="/views/course-tray.html">
                <h5>Kurssitarjotin</h5>
            </button>
            <button id="/views/news.html">
                <h5>Tiedotteet</h5>
            </button>
            <button id="/views/teachers.html">
                <h5>Opettajat</h5>
            </button>
            <button id="/views/settings.html">
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="tray-list" id="tray-list">

            </div>
            <div class="tray-main" id="tray-main">

            </div>
            <div class="tray-info">
                <h1>Toiminnot</h1>
                <div class="options">
                    <form>
                        <h2>Hae kurssia</h2>
                        <input id="search-input" type="text" placeholder="Esim. MAA15.1">
                        <button id="search-button">Hae</button>
                    </form>
                    <h3 class="search-result" id="search-error"></h3>
                    <form>
                        <h2>Suodata kursseja</h2>
                        <h3>Oppiaine</h3>
                        <select id="filter-subject">
                        </select>
                        <h3>LOPS</h3>
                        <select id="filter-lops">
                            <option value="">Molemmat</option>
                            <option value="L2021">LOPS 2021</option>
                            <option value="L2016">LOPS 2016</option>
                        </select>
                        <h3>Opettaja</h3>
                        <select id="filter-teachers">
                        </select>
                    </form>
                    <button id="filter-button">Suodata</button>
                </div>
                <h1>Tietoa kurssista</h1>
                <div class="course-info" id="course-info">

                </div>
                <h1>Tietoa opettajasta</h1>
                <div class="teacher-info" id="teacher-info">

                </div>
            </div>
            <div class="error-popup" id="error-popup">
                <div class="icon"></div>
                <div class="error-details">
                    <h1>Kurssin valintaa ei voitu muuttaa</h1>
                    <h2 id="error-details"></h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>