<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Etusivu</title>

    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/frontpage.css">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/favicon.ico">

    <meta name="viewport" content="width=1500, initial-scale=0.8">

    <script src="/assets/scripts/frontpage.js"></script>
    <script src="/assets/scripts/theme-manager.js"></script>
    <script src="/assets/scripts/nav-manager.js"></script>
    <script src="/assets/scripts/error-manager.js"></script>
    <script src="/assets/scripts/requests.js"></script>
</head>

<body>
    <div class="disclaimer">OtaWilma on vielä kehityksen alaisena, ja toiminta on toistaiseksi rajattu laitteisiin
        joiden leveys ja korkeus ovat vähintään 900px ja 600px</div>
    <div class="loading-screen" id="loading"></div>
    <div class="container">
        <div class="background" id="background"></div>
        <div class="top" id="top">
            <div class="user-info">
                <div class="user-data">
                    <h1 id="username"></h1>
                    <h2>Opiskelija</h2>
                    <div class="logout" id="logout">
                        <h6>Kirjaudu ulos</h6>
                    </div>
                </div>
            </div>
            <button id="/views/frontpage.html">
                <h1 class="logo-text">OtaWilma</h1>
            </button>
            <button id="/views/messages.html">
                <h5>Viestit</h5>
            </button>
            <button id="/views/grades.html">
                <h5>Opinnot</h5>
            </button>
            <button id="/views/course-tray.html">
                <h5>Kurssitarjotin</h5>
            </button>
            <button id="/views/news.html">
                <h5>Tiedotteet</h5>
            </button>
            <button id="/views/teachers.html">
                <h5>Opettajat</h5>
            </button>
            <button id="/views/settings.html">
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="top-container">
                <div class="left">
                    <div class="schedule" id="schedule"></div>
                </div>
                <div class="middle">
                    <div class="clock">
                        <div class="clock-marking-x"></div>
                        <div class="clock-marking-y"></div>
                        <div class="clock-marking one"></div>
                        <div class="clock-marking two"></div>
                        <div class="clock-marking three"></div>
                        <div class="clock-marking four"></div>
                        <div class="inner-circle">
                            <div class="hand sec" id="clock-sec"></div>
                            <div class="hand min" id="clock-min"></div>
                            <div class="hand hour" id="clock-hour"></div>
                            <div class="center"></div>
                        </div>
                    </div>
                    <div class="info">
                        <h1 id="current-time">13.22.45</h1>
                        <h2>3 Heinäkuuta 2022</h2>
                        <form id="date-form">
                            <button id="previous-week">
                                < </button>
                                    <input type="date" name="date-input" id="date-input" required>
                                    <button id="next-week">></button>
                        </form>
                    </div>
                </div>
                <div class="right">
                    <div class="news" id="news"></div>
                </div>
            </div>
            <div class="bottom-container">
                <div class="left">
                    <div class="grades" id="grades">

                    </div>
                </div>
                <div class="middle">
                    <div class="links">
                        <h1>Linkit</h1>
                        <h3>Hyödyllinen</h3>
                        <div class="link">
                            <a target="_blank" href="https://lomalaskuri.tk/OtaniemenLukio/Etusivu">Lomalaskuri</a>
                        </div>
                        <div class="link">
                            <a target="_blank"
                                href="https://www.espoo.fi/fi/otaniemen-lukio/kalenteri-otaniemen-lukio">Otaniemen lukio
                                - Kalenteri</a>
                        </div>
                        <div class="link">
                            <a target="_blank"
                                href="https://www.espoo.fi/fi/otaniemen-lukio/opiskelijalle-otaniemen-lukio#section-33736">Otaniemen
                                Lukio - opiskelijalle</a>
                        </div>
                        <h3>Opiskelu</h3>
                        <div class="link">
                            <a target="_blank" href="https://espoo.inschool.fi/">Wilma - espoo</a>
                        </div>
                        <div class="link">
                            <a target="_blank" href="https://digikirja.otava.fi/tietokantajulkaisut/maol-2020/">MAOL
                                digitaulukot</a>
                        </div>
                        <div class="link">
                            <a target="_blank" href="https://www.sanomapro.fi/">Sanomapro - digikirjat</a>
                        </div>
                        <div class="link">
                            <a target="_blank" href="https://opiskelija.otava.fi/materiaalit/omat">Otava -
                                digikirjat</a>
                        </div>
                        <div class="link">
                            <a target="_blank" href="https://app.studeo.fi/auth/login">Studeo -
                                digikirjat</a>
                        </div>
                        <h3>Ruokailu</h3>
                        <div class="link">
                            <a target="_blank"
                                href="https://www.amica.fi/ravintolat/ravintolat-kaupungeittain/espoo/tietokyla/">Amica
                                -
                                Otaniemen lukio</a>
                        </div>
                        <div class="link">
                            <a target="_blank" href="https://www.lounaat.info/otaniemi">Lounaat - Otaniemi</a>
                        </div>
                        <h3>Ruokailuvuorot</h3>
                        <div class="link">
                            <a target="_blank"
                                href="https://drive.google.com/file/d/1NrGciABX7vW9lq7q4mA7xfoNEmPrRr_z/view">Ruokailuvuorot
                                - 1A periodi</a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="messages" id="messages"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>