* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-family: 'regular';
    scrollbar-width: thin;
}

@font-face {
    font-family: 'semi-bold';
    src: url(../assets/fonts/Inconsolata-SemiBold.ttf);
}


@font-face {
    font-family: 'regular';
    src: url(../assets/fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(../assets/fonts/Inconsolata-Light.ttf);
}

/* Custom Scrollbars */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--background-main);
}

::-webkit-scrollbar-thumb {
    background: var(--background-darker);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-darker-hover);
}

:root {}

h1 {
    color: var(--font-h1);
    font-family: 'semi-bold';
}

h2,
a {
    color: var(--font-h2);
}

h3 {
    color: var(--font-h3);
}

h4 {
    color: var(--font-h4);
}

h5 {
    color: var(--font-h5);
}


body {
    overflow: hidden;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: white;
    pointer-events: none;
    z-index: 20;

    background-image: url(/assets/img/loading-book.gif);
    background-position: center center;
    background-repeat: no-repeat;

    transition: opacity .3s ease-in-out !important;
}

.container {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background-main);
}

.background {
    position: absolute;
    width: 110%;
    height: 110%;

    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    background-color: var(--accent-main);

    display: flex;
    align-items: center;

    z-index: 2;
}

.top .user-info {
    width: 300px;
    height: 100%;

    margin-left: 50px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.user-info .user-data {
    width: 90%;
    height: 120%;

    margin-bottom: -25px;

    background-color: var(--background-main);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.155);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info h1 {
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
}

.user-info h2 {
    font-size: 15px;
    padding-left: 25px;
}

.top .logo-img {
    width: 60px;
    height: 80%;

    margin-left: 10px;

    background-size: cover;
    background-position: center center;
}

.top .logo-text {
    color: var(--background-main);
    font-size: 30px;
    padding: 5px;
}

.top button {
    background: none;
    padding: 15px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.top h5 {
    color: var(--background-main);
    font-size: 17px;
    pointer-events: none;
}

.top h1 {
    pointer-events: none;
}

.top button:hover {
    background-color: rgba(255, 255, 255, 0.174) !important;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content .main {
    position: absolute;
    width: 75%;
    height: 75%;

    max-width: 1300px;

    display: flex;
    flex-direction: column;
}

.top-c,
.bottom-c {
    width: 100%;
    height: 50%;

    margin: 5px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.main-c {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-top,
.right-bottom {
    width: 30%;
    height: 100%;

    max-width: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom-left,
.bottom-right {
    width: 35%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule {
    width: 100%;
    height: 100%;

    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-left {
    background-color: var(--accent-main);
    height: 100%;

    padding: 20px;
    width: 30%;

    min-width: 200px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 15px var(--shadow-darker);
    z-index: 3;
}

.schedule-left h1 {
    padding: 10px;
    padding-top: 200px;
    color: white;
    font-size: 30px;
}

.schedule-left h2 {
    padding: 5px;
    color: white;
    font-size: 14px;
}

.schedule-left input,
.schedule-left button {
    padding: 5px;
    color: white;
    font-size: 14px;
    padding: 5px;

    background: none;
}

.schedule-left button:hover {
    opacity: 75%;
}

.schedule-right {
    position: relative;
    height: 100%;
    width: 70%;

    box-shadow: 0 0 15px var(--shadow-main);

    z-index: 2;

    display: flex;
    flex-direction: row;

    background-color: var(--background-main);
}

.day {
    width: calc((100% / 5));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour {
    height: calc((100% / 5) - 20px);
    width: calc(100% - 4px);
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--schedule-main);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hour h1 {
    align-self: flex-start;
    margin: 10px;
    font-size: 12px;
}

.data {
    height: 90%;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data h2 {
    font-size: 13px;
    padding: 5px;

    color: var(--font-h1);
}

.data h2:nth-child(1) {
    font-family: 'semi-bold';
}

.data h2:nth-child(2),
.data h2:nth-child(3) {
    opacity: 50%;
}

/* News */

.news {
    width: 100%;
    height: 100%;

    margin: 5px;

    box-shadow: 0 0 15px var(--shadow-main);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    background-color: var(--background-main);
}

.news h1 {
    font-size: 25px;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;

    border-bottom: solid 1px var(--border-main);
}

.news-object {
    margin: 5px;
    padding: 10px;
}

.news-object h1 {
    font-size: 17px;
    text-align: left;
    margin: 2px;
}

.news-object h3 {
    padding: 5px;
    margin: 5px;

    border-left: solid 1px var(--border-main);
}

.news-object h4 {
    margin-left: 5px;
    font-family: 'semi-bold';
}

/* Messages */

.messages {
    width: 100%;
    height: 100%;

    margin: 5px;

    box-shadow: 0 0 15px var(--shadow-main);

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: var(--background-main);
}

.messages h1 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 5px;

    border-bottom: solid 1px var(--border-main);
}

.messages h2 {
    align-self: center;

    width: 75%;

    text-align: center;
    font-family: 'semi-bold';

    padding: 5px;
    margin: 5px;

    border-bottom: solid 1px var(--border-main);
}

.messages h3 {
    max-width: 75%;

    width: 100%;
    align-self: center;
    text-align: center;
}

.message-object {
    margin: 5px;
    padding: 10px;

    border: solid 1px var(--border-main);
    border-radius: 5px;

    cursor: pointer;
}

.message-object:hover>h1 {
    filter: brightness(200%);
}

#unread {
    border-left: solid 5px var(--accent-main);
}

.message-object h1 {
    font-size: 17px;
    text-align: left;
    margin: 2px;

    border: none;
}

.message-object h3 {
    margin: 5px;
    max-width: unset;
    text-align: start;
}

.message-object h4 {
    margin-left: 5px;
    font-family: 'semi-bold';
}

/* Grades */

.grades {
    width: 100%;
    height: 100%;

    margin: 5px;

    box-shadow: 0 0 15px var(--shadow-main);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: var(--background-main);
}

.grades ul a:nth-child(2) {
    font-family: 'semi-bold' !important;
}

.grades h1 {
    font-size: 25px;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 15px;

    border-bottom: solid 1px var(--border-main);
}

.grades .overview {
    padding: 10px;
    margin: 5px;

    border-left: solid 1px var(--border-main);
}

.overview ul {
    padding: 5px;
}

.grade-object h1 {
    font-size: 17px;
    text-align: start;
    border: none;
    margin: 2px;
}

.grade-object ul {
    margin-left: 15px;
}

/* schedule */


/* error */

.error-container {
    position: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 30;
    background-color: white;
}

.error-object {
    width: 350px;

    min-width: 128px;
    min-height: 128px;

    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 4px;
}

.error-image {
    width: 256px;
    height: 256px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://cdn.inschool.fi/2.33.34.2/nc3/img/error-pages/error-server-error.svg);
}

.error-object h1 {
    margin: 15px;
    color: black;
}

.error-object h2 {
    margin: 15px;
    color: rgb(30, 30, 30);
    text-align: center;
}

.error-object h3 {
    color: rgb(215, 215, 215);
    text-align: center;
}

.error-object h5 {
    margin: 15px;
    padding: 7px;

    text-align: center;

    border-radius: 100px;

    font-family: 'semi-bold';
    font-size: 17px;
    color: white;

    background-color: rgb(200, 60, 60);
}

/* Clock */

.clock {
    position: absolute;
    width: 150px;
    top: 30px;
    aspect-ratio: 1 / 1;
    height: auto;

    border-radius: 50%;

    border: solid var(--background-darker) 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-marking-x {
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: white;
}

.clock-marking-y {
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: white;

    transform: rotate(90deg);
}

.clock-marking {
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.686);
}

.clock-marking.one {
    transform: rotate(-30deg);
}

.clock-marking.two {
    transform: rotate(-60deg);
}

.clock-marking.two {
    transform: rotate(-60deg);
}

.clock-marking.three {
    transform: rotate(30deg);
}

.clock-marking.four {
    transform: rotate(60deg);
}

.clock .inner-circle {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: var(--accent-main);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hand {
    position: absolute;
    top: 50%;

    transform-origin: 50% 0;
    transform: rotate(180deg);

    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.sec {
    height: 47%;
    width: 2px;

    background-color: var(--schedule-main);
    filter: brightness(90%);
}

.hand.min {
    height: 40%;
    width: 3px;

    background-color: var(--schedule-main);
    filter: brightness(110%);
}

.hand.hour {
    height: 35%;
    width: 4px;

    background-color: white;
}

.inner-circle .center {
    width: 7px;
    height: 7px;

    background-color: white;

    border-radius: 50%;
    position: absolute;
}