<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Etusivu</title>

    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/frontpage.css">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/favicon.ico">

    <script src="/assets/scripts/frontpage.js"></script>
    <script src="/assets/scripts/theme-manager.js"></script>
    <script src="/assets/scripts/nav-manager.js"></script>
    <script src="/assets/scripts/requests.js"></script>
    <script src="/assets/scripts/error-manager.js"></script>
</head>

<body>
    <div class="disclaimer">OtaWilma on vielä kehityksen alaisena, ja toiminta on toistaiseksi rajattu laitteisiin
        joiden leveys ja korkeus ovat vähintään 1200px ja 800px</div>
    <div class="loading-screen" id="loading"></div>
    <div class="container">
        <div class="background" id="background"></div>
        <div class="top" id="top">
            <div class="user-info">
                <div class="user-data">
                    <h1 id="username"></h1>
                    <h2>Opiskelija</h2>
                    <div class="logout" id="logout">
                        <h6>Kirjaudu ulos</h6>
                    </div>
                </div>
            </div>
            <button id="/views/frontpage.html">
                <h1 class="logo-text">OtaWilma</h1>
            </button>
            <button id="/views/messages.html">
                <h5>Viestit</h5>
            </button>
            <button id="/views/grades.html">
                <h5>Opinnot</h5>
            </button>
            <button id="/views/course-tray.html">
                <h5>Kurssitarjotin</h5>
            </button>
            <button id="/views/news.html">
                <h5>Tiedotteet</h5>
            </button>
            <button id="/views/teachers.html">
                <h5>Opettajat</h5>
            </button>
            <button id="/views/settings.html">
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="main">
                <div class="top-c">
                    <div class="main-c" style="grid-area: main;" id="main">

                    </div>
                    <div class="right-top" style="grid-area: top;" id="right-top">

                    </div>
                </div>
                <div class="bottom-c">
                    <div class="bottom-left" style="grid-area: left;" id="bottom-left"></div>
                    <div class="bottom-right" style="grid-area: right;" id="bottom-right"></div>
                    <div class="right-bottom" style="grid-area: bottom;" id="right-bottom">

                    </div>
                </div>
            </div>
            <div style="display: none">
                <div class="left-panel">
                    <div class="main-container" id="main">

                    </div>
                    <div class="bottom-container">
                        <div class="right-container" id="bottom-right">

                        </div>
                        <div class="left-container" id="bottom-left">

                            <!--DEBUG - grades-->
                            <div class="grades">
                                <h1>Opinnot</h1>
                                <div class="overview">
                                    <ul>
                                        <a>Lu21 Pakollinen moduuli</a>
                                        <a>49</a>
                                    </ul>
                                    <ul>
                                        <a>Lu21 Valtakunnallinen moduuli</a>
                                        <a>6</a>
                                    </ul>
                                    <ul>
                                        <a>Lu21 Paikallinen opintojakso</a>
                                        <a>49</a>
                                    </ul>
                                    <ul>
                                        <a>Lu21 Temaattiset opinnot - opintojakso moduuli</a>
                                        <a>49</a>
                                    </ul>
                                    <ul>
                                        <a>Yhteensä</a>
                                        <a>69</a>
                                    </ul>
                                    <ul>
                                        <a>Keskiarvo</a>
                                        <a>9.00</a>
                                    </ul>
                                </div>
                                <div class="grade-object">
                                    <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                    <ul>
                                        <a>Arvosana</a>
                                        <a>9</a>
                                    </ul>
                                    <ul>
                                        <a>Laajuus</a>
                                        <a>9</a>
                                    </ul>
                                </div>
                                <div class="grade-object">
                                    <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                    <ul>
                                        <a>Arvosana</a>
                                        <a>9</a>
                                    </ul>
                                    <ul>
                                        <a>Laajuus</a>
                                        <a>9</a>
                                    </ul>
                                </div>
                                <div class="grade-object">
                                    <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                    <ul>
                                        <a>Arvosana</a>
                                        <a>9</a>
                                    </ul>
                                    <ul>
                                        <a>Laajuus</a>
                                        <a>9</a>
                                    </ul>
                                </div>
                                <div class="grade-object">
                                    <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                    <ul>
                                        <a>Arvosana</a>
                                        <a>9</a>
                                    </ul>
                                    <ul>
                                        <a>Laajuus</a>
                                        <a>9</a>
                                    </ul>
                                </div>
                                <div class="grade-object">
                                    <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                    <ul>
                                        <a>Arvosana</a>
                                        <a>9</a>
                                    </ul>
                                    <ul>
                                        <a>Laajuus</a>
                                        <a>9</a>
                                    </ul>
                                </div>
                            </div>
                            <!--DEBUG-END - grades-->
                        </div>
                    </div>
                </div>
                <div class="right-panel">
                    <div class="top-container" id="right-top">
                        <!--DEBUG - news-->
                        <div class="news">
                            <h1>Tiedotteet</h1>
                            <div class="news-object">
                                <h1>Valintaarhottimeen muutoksia</h1>
                                <h4>26.2</h4>
                                <h4>HEI Heikkinen Matti</h4>
                                <h3>Valintatarjottimeen tulossa muutoksia ensi vuonna. Kannattaa kattoo nopee</h3>
                            </div>
                            <div class="news-object">
                                <h1>Valintaarhottimeen muutoksia</h1>
                                <h4>26.2</h4>
                                <h4>HEI Heikkinen Matti</h4>
                                <h3>Valintatarjottimeen tulossa muutoksia ensi vuonna. Kannattaa kattoo nopee</h3>
                            </div>
                            <div class="news-object">
                                <h1>Valintaarhottimeen muutoksia</h1>
                                <h4>26.2</h4>
                                <h4>HEI Heikkinen Matti</h4>
                                <h3>Valintatarjottimeen tulossa muutoksia ensi vuonna. Kannattaa kattoo nopee</h3>
                            </div>
                        </div>
                        <!--DEBUG-END - news-->
                    </div>
                    <div class="bottom-container" id="right-bottom">
                        <!--DEBUG - messages-->
                        <div class="messages">
                            <h1>Viestit</h1>
                            <h2>Vanhat</h2>
                            <div class="message-object" id="13482650">
                                <h1>Testi</h1>
                                <h4>2022-06-13 16:17</h4>
                                <h4>Moilanen Tuukka, 21A</h4>
                                <h3>2 vastausta</h3>
                            </div>
                            <div class="message-object" id="13482620">
                                <h1>Vara-arviointi ti 14.6. klo 9.00-12.00 luokissa 1317&amp;1318</h1>
                                <h4>2022-06-13 14:37</h4>
                                <h4>Inkeroinen Mikael (INK)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13481826">
                                <h1>testit2</h1>
                                <h4>2022-06-09 19:54</h4>
                                <h4>Moilanen Tuukka, 21A</h4>
                                <h3>1 vastaus</h3>
                            </div>
                            <div class="message-object" id="13481424">
                                <h1>testi</h1>
                                <h4>2022-06-08 21:25</h4>
                                <h4>Moilanen Tuukka, 21A</h4>
                                <h3>11 vastausta</h3>
                            </div>
                            <div class="message-object" id="13480460">
                                <h1>logger Pro</h1>
                                <h4>2022-06-07 11:21</h4>
                                <h4>Heikkinen Matti (HEI)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13479951">
                                <h1>Kevätjuhlan valokuvat</h1>
                                <h4>2022-06-06 16:20</h4>
                                <h4>Uksila Katja (UKS)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13472515">
                                <h1>Terveydenhoitajan kesälomaterveiset</h1>
                                <h4>2022-06-03 14:16</h4>
                                <h4>Kauranen Eeva-Liisa (E.K)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13472584">
                                <h1>Robotiikan kesäkurssi alkaa ma 6.6 klo 9.00 Otaniemen lukiossa Fablab, kuvisluokan
                                    vastapäätä</h1>
                                <h4>2022-06-03 14:06</h4>
                                <h4>Heikkinen Matti (HEI)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13472025">
                                <h1>Kuraattori tavattavissa kesäkuun ajan</h1>
                                <h4>2022-06-03 13:19</h4>
                                <h4>Granqvist Eerika (H.G)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13469955">
                                <h1>kirjan tehtävien luvut</h1>
                                <h4>2022-06-03 09:03</h4>
                                <h4>Hernigle Leena (HER)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13467553">
                                <h1>Koulukirjaston kirjojen palauttaminen</h1>
                                <h4>2022-06-02 17:49</h4>
                                <h4>Kohi Mia (KOH)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13465464">
                                <h1>Opinto-ohjauskuulumisia</h1>
                                <h4>2022-06-02 13:26</h4>
                                <h4>Iivanainen Matti (IIV)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13458257">
                                <h1>koearvosana eduespoo mailissa</h1>
                                <h4>2022-06-01 13:26</h4>
                                <h4>Hernigle Leena (HER)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13450001">
                                <h1>Perjantain kevätjuhla</h1>
                                <h4>2022-05-31 12:49</h4>
                                <h4>Ahonen Janne (AHO)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13440395">
                                <h1>Ohje ilmoittautumisesta 5. periodin vara-arviointiin (uusintaan), pidetään ti 14.6.
                                    klo
                                    9.00-12.00</h1>
                                <h4>2022-05-30 11:31</h4>
                                <h4>Inkeroinen Mikael (INK)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13431542">
                                <h1>UE1 koe alkaa Meetissä</h1>
                                <h4>2022-05-27 12:24</h4>
                                <h4>Karhumaa Anna (KAR)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13431398">
                                <h1>UE1 - kurssin koe kotikokeena Studeossa tiistaina 31.5 klo.09.00-12.00</h1>
                                <h4>2022-05-27 12:12</h4>
                                <h4>Karhumaa Anna (KAR)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13426816">
                                <h1>Mukaan syyskuussa Rantamaratonille juoksemaan esim. 5km/10km tai 1/2-maraton</h1>
                                <h4>2022-05-27 08:45</h4>
                                <h4>Paasio Riitta (PAA)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13424455">
                                <h1>Haku Kaupunkihistorian kurssille käynnistyy (HI08)</h1>
                                <h4>2022-05-25 14:17</h4>
                                <h4>Lehtonen Juha-Pekka (LEH)</h4>
                                <h3></h3>
                            </div>
                            <div class="message-object" id="13423040">
                                <h1>Opiskelijan takki vaihtunut. Pyydetään palauttamaan pääaulan naulakkoon</h1>
                                <h4>2022-05-25 12:08</h4>
                                <h4>Mikkola Harri (H.M)</h4>
                                <h3></h3>
                            </div>
                        </div>
                        <!-- DEBUG-END - messages -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>