<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Etusivu</title>

    <link rel="stylesheet" href="frontpage.css">

    <script src="frontpage.js"></script>
    <script src="/scripts/theme-manager.js"></script>
    <script src="/scripts/nav-manager.js"></script>
    <script src="/scripts/requests.js"></script>
</head>

<body>
    <div class="loading-screen" id="loading"></div>
    <div class="container">
        <div class="background" id="background"></div>
        <div class="top" id="top">
            <div class="user-info">
                <div class="user-data">
                    <h1>Tuukka Moilanen</h1>
                    <h2>Opiskelija</h2>
                </div>
            </div>
            <div class="logo-img"></div>
            <button id="/views/frontpage.html">
                <h1 class="logo-text">OtaWilma</h1>
            </button>
            <button id="/views/messages.html">
                <h5>Viestit</h5>
            </button>
            <button id="/views/frontpage.html">
                <h5>Opinnot</h5>
            </button>
            <button id="/views/course-tray.html">
                <h5>Kurssitarjotin</h5>
            </button>
            <button id="/views/frontpage.html">
                <h5>Tiedotteet</h5>
            </button>
            <button id="/views/settings.html">
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="left-panel">
                <div class="main-container" id="main">
                    <!-- DEBUG - schedule -->
                    <div class="schedule" id="full-schedule">
                        <div class="info">
                            <h1>Työjärjestys</h1>
                            <form action="">
                                <input type="date" name="" id="">
                            </form>
                        </div>
                        <div class="schedule-board">
                            <div class="info-column">
                                <div class="info-row"></div>
                                <div class="row">
                                    <h2>8.30</h2>
                                </div>
                                <div class="row">
                                    <h2>10.00</h2>
                                </div>
                                <div class="row">
                                    <h2>11.20</h2>
                                </div>
                                <div class="row">
                                    <h2>13.30</h2>
                                </div>
                                <div class="row">
                                    <h2>15.00</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div class="info-row">Ma 2.6</div>
                                <div class="row">
                                    <div class="data">
                                        <h2 id="time">8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="info-row">Ti 3.6</div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="info-row">Ke 4.6</div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="info-row">To 5.6</div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="info-row">Pe 6.6</div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="data">
                                        <h2>8.30 - 9.45</h2>
                                        <h2>FI02.2</h2>
                                        <h3>TAO</h3>
                                        <h3>2408</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- DEBUG-END - schedule -->
                </div>
                <div class="bottom-container">
                    <div class="right-container" id="bottom-right">

                    </div>
                    <div class="left-container" id="bottom-left">
                        <!--DEBUG - grades-->
                        <div class="grades">
                            <h1>Opinnot</h1>
                            <div class="overview">
                                <ul>
                                    <a>Lu21 Pakollinen moduuli</a>
                                    <a>49</a>
                                </ul>
                                <ul>
                                    <a>Lu21 Valtakunnallinen moduuli</a>
                                    <a>6</a>
                                </ul>
                                <ul>
                                    <a>Lu21 Paikallinen opintojakso</a>
                                    <a>49</a>
                                </ul>
                                <ul>
                                    <a>Lu21 Temaattiset opinnot - opintojakso moduuli</a>
                                    <a>49</a>
                                </ul>
                                <ul>
                                    <a>Yhteensä</a>
                                    <a>69</a>
                                </ul>
                                <ul>
                                    <a>Keskiarvo</a>
                                    <a>9.00</a>
                                </ul>
                            </div>
                            <div class="grade-object">
                                <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                <ul>
                                    <a>Arvosana</a>
                                    <a>9</a>
                                </ul>
                                <ul>
                                    <a>Laajuus</a>
                                    <a>9</a>
                                </ul>
                            </div>
                            <div class="grade-object">
                                <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                <ul>
                                    <a>Arvosana</a>
                                    <a>9</a>
                                </ul>
                                <ul>
                                    <a>Laajuus</a>
                                    <a>9</a>
                                </ul>
                            </div>
                            <div class="grade-object">
                                <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                <ul>
                                    <a>Arvosana</a>
                                    <a>9</a>
                                </ul>
                                <ul>
                                    <a>Laajuus</a>
                                    <a>9</a>
                                </ul>
                            </div>
                            <div class="grade-object">
                                <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                <ul>
                                    <a>Arvosana</a>
                                    <a>9</a>
                                </ul>
                                <ul>
                                    <a>Laajuus</a>
                                    <a>9</a>
                                </ul>
                            </div>
                            <div class="grade-object">
                                <h1>Äidinkieli ja kirjallisuus, suomen kieli ja kirjallisuus</h1>
                                <ul>
                                    <a>Arvosana</a>
                                    <a>9</a>
                                </ul>
                                <ul>
                                    <a>Laajuus</a>
                                    <a>9</a>
                                </ul>
                            </div>
                        </div>
                        <!--DEBUG-END - grades-->
                    </div>
                </div>
            </div>
            <div class="right-panel">
                <div class="top-container" id="right-top">
                    <!--DEBUG - news-->
                    <div class="news">
                        <h1>Tiedotteet</h1>
                        <div class="news-object">
                            <h1>Valintaarhottimeen muutoksia</h1>
                            <h4>26.2</h4>
                            <h4>HEI Heikkinen Matti</h4>
                            <h3>Valintatarjottimeen tulossa muutoksia ensi vuonna. Kannattaa kattoo nopee</h3>
                        </div>
                        <div class="news-object">
                            <h1>Valintaarhottimeen muutoksia</h1>
                            <h4>26.2</h4>
                            <h4>HEI Heikkinen Matti</h4>
                            <h3>Valintatarjottimeen tulossa muutoksia ensi vuonna. Kannattaa kattoo nopee</h3>
                        </div>
                        <div class="news-object">
                            <h1>Valintaarhottimeen muutoksia</h1>
                            <h4>26.2</h4>
                            <h4>HEI Heikkinen Matti</h4>
                            <h3>Valintatarjottimeen tulossa muutoksia ensi vuonna. Kannattaa kattoo nopee</h3>
                        </div>
                    </div>
                    <!--DEBUG-END - news-->
                </div>
                <div class="bottom-container" id="right-bottom">

                </div>
            </div>
        </div>
    </div>
</body>

</html>