<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Viestit</title>

    <link rel="stylesheet" href="messages.css">
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="user-info">
                <div class="user-data">
                    <h1>Tuukka Moilanen</h1>
                    <h2>Opiskelija</h2>
                </div>
            </div>
            <div class="logo-img"></div>
            <h1 class="logo-text">OtaWilma</h1>
            <button>
                <h5>Viestit</h5>
            </button>
            <button>
                <h5>Opinnot</h5>
            </button>
            <button>
                <h5>Kurssitarjotin</h5>
            </button>
            <button>
                <h5>Tiedotteet</h5>
            </button>
            <button>
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="categories">
                <div id="selected">
                    <h1>Saapuneet</h1>
                    <h2>400+ viestiä</h2>
                </div>
                <div>
                    <h1>Arkisto</h1>
                    <h2>0 viestiä</h2>
                </div>
                <div>
                    <h1>Lähetetyt</h1>
                    <h2>25 viestiä</h2>
                </div>
                <div>
                    <h1>Tapahtumakutsut</h1>
                    <h2>10 viestiä</h2>
                </div>
            </div>
            <div class="messages">
                <div class="message-object" id="selected">
                    <h1>Testi</h1>
                    <h2>13.06.2022 16:17</h2>
                    <h2>HEI Heikkinen Matti</h2>
                    <h3>2 vastausta</h3>
                </div>
                <div class="message-object">
                    <h1>Testi</h1>
                    <h2>13.06.2022 16:17</h2>
                    <h2>HEI Heikkinen Matti</h2>
                    <h3>2 vastausta</h3>
                </div>
                <div class="message-object">
                    <h1>Testi</h1>
                    <h2>13.06.2022 16:17</h2>
                    <h2>HEI Heikkinen Matti</h2>
                    <h3>2 vastausta</h3>
                </div>
                <div class="message-object">
                    <h1>Testi</h1>
                    <h2>13.06.2022 16:17</h2>
                    <h2>HEI Heikkinen Matti</h2>
                    <h3>2 vastausta</h3>
                </div>
                <div class="message-object">
                    <h1>Testi</h1>
                    <h2>13.06.2022 16:17</h2>
                    <h2>HEI Heikkinen Matti</h2>
                    <h3>2 vastausta</h3>
                </div>
                <div class="message-object">
                    <h1>Testi</h1>
                    <h2>13.06.2022 16:17</h2>
                    <h2>HEI Heikkinen Matti</h2>
                    <h3>2 vastausta</h3>
                </div>
            </div>
            <div class="message-content">
                <h1>Ohje ilmoittautumisesta 5. periodin vara-arviointiin (uusintaan), pidetään ti 14.6. klo 9.00-12.00
                </h1>
                <div class="info">
                    <ul>
                        <a>Lähettäjä(t)</a>
                        <a>Matti Heikkinen</a>
                    </ul>
                    <ul>
                        <a>Vastaanottaja(t)</a>
                        <a>Zwinger Matias</a>
                    </ul>
                    <ul>
                        <a>Lähetetty</a>
                        <a>13.6.2022 klo 16:16</a>
                    </ul>
                </div>
                <div class="main-content">
                    <p>&nbsp;</p>
                    <p><strong>5. periodin vara-arviointi/uusintakoe pidet&auml;&auml;n ti 14.6.
                            klo 9.00-12.00. Ilmoittautuminen pe 10.6. klo 12.00 menness&auml;.</strong></p>
                    <p>
                        lmoittaudu Wilman kautta&nbsp;vara-arviointiin. Alla ohje opiskelijoille.</p>
                    <p>1.
                        Kirjaudu Wilmaan.</p>
                    <p>2. Ylh&auml;&auml;ll&auml; olevasta valikosta valitse Tentit.
                        Ikkunaan avautuu lista opintojaksoista, joihin voit ilmoittautua. Lista on pitk&auml;, eik&auml;
                        kaikkia &nbsp;opintojaksoja oletusarvoisesti n&auml;ytet&auml;. Klikkaa N&auml;yt&auml; kaikki
                        tentit listan lopusta.</p>
                    <p>3. Etsi listalta oikea opintojakso. Samaa opintojaksoa voi
                        olla useita, jos ne ovat olleet eri opettajilla.</p>
                    <p>4. Varmista, ett&auml;
                        opettajaksi on merkitty se opettaja, jolle suoritit kyseisen opintojakson. Saman opettajan
                        rinnakkaisryhm&auml;t on poistettu eli listassa n&auml;kyy vain yksi ryhm&auml; yhdelt&auml;
                        opettajalta.</p>
                    <p>5. Mik&auml;li listalta puuttuu opintojakso, johon haluaisit
                        osallistua, ota yhteytt&auml;&nbsp;ko. aineenopettajaan. Varmista kuitenkin, ett&auml; klikkasit
                        N&auml;yt&auml; kaikki tentit listan lopusta.</p>
                    <p>6. Ilmoittaudu vara-arviointiin
                        klikkaamalla Ilmoittaudu-painiketta.</p>
                    <p>7. Listan yl&auml;osaan ilmestyy tiedot
                        kokeesta, johon ilmoittauduit. Ilmoittautumisen voi perua klikkaamalla Peru tentti.
                        Erillist&auml; tallennusta ei tarvita.</p>
                    <p>8. Muista, ett&auml;
                        vara-arvioinnissa&nbsp;suoritetaan p&auml;&auml;s&auml;&auml;nt&ouml;isesti vain yksi koe.
                        Kahden kokeen tekeminen on mahdollista edellytt&auml;en, ett&auml; asiasta sovitaan erikseen ko.
                        aineenopettajien kanssa. Useamman kuin kahden kokeen tekeminen ei ole mahdollista. Jos olet
                        ollut arviointiviikolla poissa useamman p&auml;iv&auml;n, yrit&auml; sopia aineenopettajien
                        kanssa, ett&auml; teet osan vara-arvioinneista&nbsp;muuna ajankohtana. Ilmoittautumisten
                        lukum&auml;&auml;r&auml;&auml; ei ole teknisesti rajoitettu, mutta ne kuitenkin tarkistetaan
                        ennen koetta.</p>
                    <p>9. Ilmoittautumisia voi muokata (perua, vaihtaa)
                        ilmoittautumisaikana, joka on p&auml;&auml;s&auml;&auml;nt&ouml;isesti kokeiden
                        palautusp&auml;iv&auml;st&auml; pari p&auml;iv&auml;&auml; eteenp&auml;in. Ilmoittautumisajan
                        umpeuduttua muutoksia ei en&auml;&auml; oteta vastaan.</p>
                </div>
                <div class="responses">
                    <div>
                        <h1>Matti Heikkinen 13.06.2022 16:16</h1>
                        <p>kannattaa kattoo nopee</p>
                    </div>
                    <div>
                        <h1>Matti Heikkinen 13.06.2022 16:17</h1>
                        <p>kannattaa siis tosiaan kattoo nopee</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>