* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-family: 'regular';
    scrollbar-width: thin;
}

@font-face {
    font-family: 'semi-bold';
    src: url(../assets/fonts/Inconsolata-SemiBold.ttf);
}


@font-face {
    font-family: 'regular';
    src: url(../assets/fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(../assets/fonts/Inconsolata-Light.ttf);
}

/* Custom Scrollbars */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--background-main);
}

::-webkit-scrollbar-thumb {
    background: var(--background-darker);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-darker-hover);
}

:root {}

h1 {
    color: var(--font-h1);
    font-family: 'semi-bold';
}

h2,
a {
    color: var(--font-h2);
}

h3 {
    color: var(--font-h3);
}

h4 {
    color: var(--font-h4);
}

h5 {
    color: var(--font-h5);
}


body {
    overflow: hidden;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: white;
    pointer-events: none;
    z-index: 20;

    background-image: url(/assets/img/loading-book.gif);
    background-position: center center;
    background-repeat: no-repeat;

    transition: opacity .3s ease-in-out !important;
}

.container {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background-main);
}

.background {
    position: absolute;
    width: 110%;
    height: 110%;

    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    filter: var(--background-filter);
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    background-color: var(--accent-main);

    display: flex;
    align-items: center;

    z-index: 2;
}

.top .user-info {
    width: 300px;
    height: 100%;

    margin-left: 50px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.user-info .user-data {
    width: 90%;
    height: 120%;

    margin-bottom: -25px;

    background-color: var(--background-main);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.155);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info h1 {
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
}

.user-info h2 {
    font-size: 15px;
    padding-left: 25px;
}

.top .logo-img {
    width: 60px;
    height: 80%;

    margin-left: 10px;

    background-size: cover;
    background-position: center center;
}

.top .logo-text {
    color: var(--background-main);
    font-size: 30px;
    padding: 5px;
}

.top button {
    background: none;
    padding: 15px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.top h5 {
    color: var(--background-main);
    font-size: 17px;
    pointer-events: none;
}

.top h1 {
    pointer-events: none;
}

.top button:hover {
    background-color: rgba(255, 255, 255, 0.174) !important;
}

.content {
    position: absolute;
    width: 75%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    box-shadow: 0 0 15px var(--shadow-main);

    border-left: solid 10px var(--accent-main);

    background-color: var(--background-main);
}

.side-bar {
    position: absolute;
    left: 0;
    width: 300px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current,
.static,
.old {
    margin: 20px;

    height: 30%;
    width: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: solid 3px var(--accent-main);
    background-color: var(--background-main);
    box-shadow: 0 0 15px var(--shadow-main);

    overflow-y: scroll;
}


.current h1,
.static h1,
.old h1 {
    width: 90%;
    font-size: 20px;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;

    border-bottom: solid 1px var(--border-main);
}

.news-object-current {
    margin: 5px;
    padding: 10px;
}

.news-object-current h1:hover {
    opacity: 50%;
}


.news-object-current h1 {
    font-size: 17px;
    text-align: left;
    margin: 2px;

    cursor: pointer;

    transition: opacity .2s ease-in-out;
}

.news-object-current h3 {
    padding: 5px;
    margin: 5px;

    border-left: solid 1px var(--border-main);
}

.news-object-current h4 {
    margin: 10px;
}


.news-object-static {
    width: 80%;
    margin: 5px;
    padding: 10px;

    cursor: pointer;

    border: solid 1px var(--border-main);
    border-radius: 7px;
}

.news-object-static:hover>h4 {
    opacity: 100%;
}

.news-object-static h1 {
    width: 90%;
    font-size: 17px;
    text-align: left;

    margin: 2px;
    padding: 10px;

    pointer-events: none;
}

.news-object-static h4 {
    padding: 10px;
    opacity: 40%;

    transition: opacity .2s ease-in-out;
    pointer-events: none;
}

.news-content {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
}

.news-content * {
    width: 90%;
    padding: 5px;
    height: auto;

    color: var(--font-h2);

    line-height: 1.3;
    font-family: 'arial';
}

.news-content h1 {
    font-size: 20px;
    margin: 20px;
}

.news-content strong,
.news-content b {
    font-weight: bold;
}

.news-content .printout-footer {
    display: none;
}

.news-content .__cf_email__ {
    pointer-events: none;
    color: red;
    opacity: 30%;
}