<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Tiedotteet</title>

    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/news.css">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/favicon.ico">

    <script src="/assets/scripts/news.js"></script>
    <script src="/assets/scripts/requests.js"></script>
    <script src="/assets/scripts/nav-manager.js"></script>
    <script src="/assets/scripts/theme-manager.js"></script>
    <script src="/assets/scripts/error-manager.js"></script>
</head>

<body>
    <div class="disclaimer">OtaWilma on vielä kehityksen alaisena, ja toiminta on toistaiseksi rajattu laitteisiin
        joiden leveys ja korkeus ovat vähintään 1200px ja 800px</div>
    <div class="loading-screen" id="loading"></div>
    <div class="container">
        <div class="background" id="background"></div>
        <div class="top" id="top">
            <div class="user-info">
                <div class="user-data">
                    <h1 id="username"></h1>
                    <h2>Opiskelija</h2>
                </div>
            </div>
            <button id="/views/frontpage.html">
                <h1 class="logo-text">OtaWilma</h1>
            </button>
            <button id="/views/messages.html">
                <h5>Viestit</h5>
            </button>
            <button id="/views/grades.html">
                <h5>Opinnot</h5>
            </button>
            <button id="/views/course-tray.html">
                <h5>Kurssitarjotin</h5>
            </button>
            <button id="/views/news.html">
                <h5>Tiedotteet</h5>
            </button>
            <button id="/views/teachers.html">
                <h5>Opettajat</h5>
            </button>
            <button id="/views/settings.html">
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="side-bar">
                <div class="current" id="current">
                    <h1>Nykyiset tiedotteet</h1>
                </div>
                <div class="static" id="static">
                    <h1>Pysyvät tiedotteet</h1>
                </div>
                <div class="old" id="old">
                    <h1>Vanhat tiedotteet</h1>
                </div>
            </div>
            <div class="news-content" id="content"></div>
        </div>
    </div>
</body>

</html>