* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    font-family: 'regular';
    scrollbar-width: thin;

    transition: color .3s ease-in-out,
        background .3s ease-in-out,
        opacity .3s ease-in-out,
        border .3s ease-in-out;
}

@font-face {
    font-family: 'semi-bold';
    src: url(../assets/fonts/Inconsolata-SemiBold.ttf);
}


@font-face {
    font-family: 'regular';
    src: url(../assets/fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(../assets/fonts/Inconsolata-Light.ttf);
}

:root {}

h1 {
    color: var(--font-h1);
    font-family: 'semi-bold';
}

h2,
label,
input {
    color: var(--font-h2);
}

h3 {
    color: var(--font-h3);
}

h4 {
    color: var(--font-h4);
}

h5 {
    color: var(--font-h5);
}

body {
    overflow-y: hidden;
}

/* Custom Scrollbars */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background-main);
}

::-webkit-scrollbar-thumb {
    background: var(--background-darker);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-darker-hover);
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: white;
    pointer-events: none;
    z-index: 20;

    background-image: url(/assets/img/loading-book.gif);
    background-position: center center;
    background-repeat: no-repeat;

    transition: opacity .3s ease-in-out !important;
}

.container {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background-main);
}

.background {
    position: absolute;
    width: 110%;
    height: 110%;

    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    background-color: var(--accent-main);

    display: flex;
    align-items: center;

    z-index: 2;
}

.top .user-info {
    width: 300px;
    height: 100%;

    margin-left: 50px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.user-info .user-data {
    width: 90%;
    height: 120%;

    margin-bottom: -25px;

    box-shadow: 0 0 15px var(--shadow-main);

    background-color: var(--background-darker);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info h1 {
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
}

.user-info h2 {
    font-size: 15px;
    padding-left: 25px;
}

.top .logo-img {
    width: 60px;
    height: 80%;

    margin-left: 10px;

    background-size: cover;
    background-position: center center;
}

.top .logo-text {
    font-size: 30px;
    padding: 5px;
}

.top button {
    background: none;
    padding: 15px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.top h5 {
    color: white;
    font-size: 17px;
    pointer-events: none;
}

.top h1 {
    pointer-events: none;
}

.top button:hover {
    background-color: rgba(255, 255, 255, 0.174) !important;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;

    max-width: 1000px;

    padding-top: 50px;

    display: flex;
    align-items: center;
    flex-direction: row;

    border-right: solid 1px var(--border-darker);
    border-left: solid 1px var(--border-darker);

    background-color: var(--background-main);
}

.side-bar {
    width: 250px;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: solid 1px var(--border-main);

    text-align: start;
}

.side-bar h1 {
    width: 90%;
    margin: 3px;
    margin-left: 5px;
    cursor: pointer;
}

.side-bar h2 {
    width: 90%;
    margin: 2px;
    padding-left: 3px;
    margin-left: 15px;
}

.side-bar h3 {
    width: 90%;
    margin: 2px;
    margin-left: 25px;
}

.settings-content {
    width: 100%;
    height: 100%;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;
}

.settings-content div {
    width: 100%;
    height: auto;

    margin-top: 50px;
}

.settings-content div div {
    width: unset;
    height: unset;

    margin-top: unset;
}

#hidden {
    display: none;
}

.theme-list {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 15px;
    margin: 10px;

    flex-wrap: wrap;
}

.theme {
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#selected .theme-preview {
    box-shadow: 0 0 15px var(--shadow-main);
}

.theme h2 {
    margin: 10px;
}

.theme .theme-new {
    width: 200px;
    height: 100px;

    user-select: none;
    -webkit-user-select: none;

    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: dashed 3px var(--border-main);
    box-shadow: 0 0 15px var(--shadow-main);
}

.theme .theme-preview {
    width: 200px;
    height: 100px;

    margin: 5px;

    box-shadow: 0 0 15px var(--shadow-main);
}

.theme-preview .main {
    width: 100%;
    height: 100%;

    display: flex;
}

.main .secondary {
    width: 50%;
    height: 100%;
}

.main .text {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.main h1 {
    padding: 2px;
    margin-left: 3px;
    user-select: none;
    -webkit-user-select: none;
}

.main h2 {
    padding: 2px;
    margin-left: 7px;
    user-select: none;
    -webkit-user-select: none;
}

.editor-disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.colors form {
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    border-left: solid 1px var(--border-main);
}

.colors form h2 {
    padding: 2px;
}

.colors form h3 {
    padding: 2px;
}

.colors form input {
    margin: 2px;
    width: 50px;
    background: none;
}

.preview img {
    width: 450px;
    height: 300px;

    margin: -10px;
    margin: 20px;

    box-shadow: 0 0 15px var(--shadow-main);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.backgrounds h2 {
    margin: 10px;
    font-size: 17px;
}

.backgrounds form {
    margin: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.backgrounds input {
    width: 45px;
    font-family: 'semi-bold';
}

.background-input {
    margin: 5px;

    display: flex;
    flex-direction: column !important;
    align-items: unset !important;
}

.background-input h2 {
    margin: 10px;
}

.background-input input {
    margin: 10px;
    padding: 5px;

    width: 50% !important;
    font-family: 'regular' !important;
    background-color: var(--background-darker);
}