<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Asetukset</title>

    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/settings.css">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/favicon.ico">

    <script src="/assets/scripts/settings.js"></script>
    <script src="/assets/scripts/theme-manager.js"></script>
    <script src="/assets/scripts/nav-manager.js"></script>
    <script src="/assets/scripts/error-manager.js"></script>
</head>

<body>
    <div class="loading-screen" id="loading"></div>
    <div class="container" id="container">
        <div class="background" id="background">

        </div>
        <div class="top" id="top">
            <div class="user-info">
                <div class="user-data">
                    <h1>Tuukka Moilanen</h1>
                    <h2>Opiskelija</h2>
                </div>
            </div>
            <button id="/views/frontpage.html">
                <h1 class="logo-text">OtaWilma</h1>
            </button>
            <button id="/views/messages.html">
                <h5>Viestit</h5>
            </button>
            <button id="/views/grades.html">
                <h5>Opinnot</h5>
            </button>
            <button id="/views/course-tray.html">
                <h5>Kurssitarjotin</h5>
            </button>
            <button id="/views/news.html">
                <h5>Tiedotteet</h5>
            </button>
            <button id="/views/settings.html">
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="side-bar" id="side-bar">

                <h1 class="themes">Teemat</h1>
                <h2>Valitse teema</h2>
                <h3>Vaalea teema</h3>
                <h3>Tumma teema</h3>

                <h1 class="own-themes">Omat teemasi</h1>
                <h2>Luo uusi teema</h2>

                <h1 class="edit-theme">Muokkaa teemaa</h1>
                <h2>Päävärit</h2>
                <h3>Ensijainen väri</h3>
                <h3>Toissijainen väri</h3>
                <h2>Taustojen väri</h2>
                <h3>Tausta</h3>
                <h3>Tummempi tausta</h3>
                <h2>Fonttien väri</h2>
                <h3>Otsikot</h3>
                <h3>Alaotsikot</h3>
                <h3>Lisäykset</h3>

                <h1 class="backgrounds">Taustakuva</h1>
                <h2>Esikatselu</h2>

                <h1 class="choose-background">Valitse taustakuva</h1>
                <h2>Linkki</h2>

                <h1 class="background-effects">Tehosteet</h1>
                <h3>Sumennus</h3>
                <h3>Läpinäkyvyys</h3>
                <h3>Kirkkaus</h3>
                <h3>Sumennus</h3>
                <h3>Kontrasti</h3>
                <h3>Saturaatio</h3>
                <h3>Harmaasävyt</h3>
                <h3>Seepia</h3>
                <h3>Värin taitto</h3>
                <h3>Käänteisväri</h3>

                <h1 class="theme-options">Teeman toiminnot</h1>
                <h2>Poista teema</h2>

                <h1>Yhteydet</h1>
                <h2>Jaa lukujärjestyksesi</h2>
                <h2>Jaa kurssivalintasi</h2>
                <h2>Jaa arvosanasi</h2>
                <h1>Kehittäjälle</h1>
                <h2>Lähdekoodi</h2>
                <h2>Kustomoitu CSS</h2>
            </div>
            <div class="editor-loading-screen" id="editor-loading-screen"></div>
            <div class="settings-content" id="content">
                <div class="colors">
                    <h1 id="themes">Teemat</h1>
                    <div class="theme-list" id="default-themes">
                    </div>
                    <h1 id="own-themes">Omat teemasi</h1>
                    <div class="theme-list" id="custom-themes">
                        <div class="theme" style="order: 9999;" id="new-theme">
                            <div class="theme-new">
                                <h3>Luo Teema</h3>
                            </div>
                        </div>
                    </div>
                    <h1 id="edit-theme">Muokkaa teemaa</h1>
                    <div class="editor-disabled" id="theme-editor">

                    </div>
                </div>
                <div class="backgrounds">
                    <h1 id="backgrounds">Taustakuva</h1>
                    <h1>Esikatselu</h1>
                    <div class="preview">
                        <img src="" alt="" id="background-preview">
                    </div>
                    <div class="editor-disabled" id="background-editor">
                        <h1 id="choose-background">Valitse taustakuva</h1>
                        <form class="background-input">
                            <label>Linkki</label>
                            <h3>Taustakuvasi linkkinä</h3>
                            <input type="url" id="url" placeholder="https://sivusto.com">
                        </form>
                        <h1 id="background-effects">Taustakuvan tehosteet</h1>
                        <form>
                            <label>Sumennus |&nbsp;</label>
                            <input class="number-input" type="number" id="blur" min="0" value="0">
                        </form>
                        <form>
                            <label>Läpinäkyvyys |&nbsp;</label>
                            <input class="number-input" type="number" id="opacity" min="0" value="0">
                        </form>
                        <form>
                            <label>Kirkkaus |&nbsp;</label>
                            <input class="number-input" type="number" id="brightness" min="0" value="0">
                        </form>
                        <form>
                            <label>Kontrasti |&nbsp;</label>
                            <input class="number-input" type="number" id="contrast" min="0" value="0">
                        </form>
                        <form>
                            <label>Saturaatio |&nbsp;</label>
                            <input class="number-input" type="number" id="saturate" min="0" value="0">
                        </form>
                        <form>
                            <label>Harmaasävyt |&nbsp;</label>
                            <input class="number-input" type="number" id="grayscale" min="0" value="0">
                        </form>
                        <form>
                            <label>Seepia |&nbsp;</label>
                            <input class="number-input" type="number" id="sepia" min="0" value="0">
                        </form>
                        <form>
                            <label>Värin taitto |&nbsp;</label>
                            <input class="number-input" type="number" id="hue-rotate" min="-180" max="180" value="0">
                        </form>
                        <form>
                            <label>Käänteisväri |&nbsp;</label>
                            <input class="number-input" type="number" id="invert" min="0" value="0">
                        </form>
                        <form>
                            <label>Reunojen pyöristys |&nbsp;</label>
                            <input class="number-input" type="number" id="rounded-edges" min="0" value="0">
                        </form>
                    </div>
                </div>
                <div class="theme-actions">
                    <h1 class="theme-options">Teeman toiminnot</h1>
                    <h2 id="delete-theme">Poista Teema</h2>
                    <div class="removal-popup" id="removal-confirmation">
                        <div class="img"></div>
                        <h1>Oletko varma että haluat poistaa teeman?</h1>
                        <h3>Toimintoa <strong>ei</strong> voida perua.</h3>
                        <button id="confirm-delete">Poista Teema</button>
                        <h2 id="cancel-delete">Peruuta</h2>
                    </div>
                </div>
                <div class="connections"></div>
                <div class="advanced"></div>
            </div>
            <div class="settings-help">
                <div class="info">
                    <h1>OtaWilma asetukset</h1>
                    <h2>Teemat</h2>
                    <h3>Voit valita oletusteemojen väliltä ja luoda halutessasi myös omia teemoja. Tehokkaalla
                        editorilla voit mukauttaa Wilmasi värejä sekä taustakuvia
                    </h3>
                    <h2>Ota yhteyttä</h2>
                    <h3>Onko sinulla muutosehdotuksia oletusteemaan?</h3>
                    <h3>Onko jokin asetus jota haluaisit muokata mutta et voi</h3>
                    <h3>Raportoi ongelmasta</h3>

                </div>
            </div>
        </div>
    </div>
</body>

</html>