<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Asetukset</title>

    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/settings.css">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/favicon.ico">

    <script src="/assets/scripts/settings.js"></script>
    <script src="/assets/scripts/theme-manager.js"></script>
    <script src="/assets/scripts/nav-manager.js"></script>
    <script src="/assets/scripts/requests.js"></script>
    <script src="/assets/scripts/error-manager.js"></script>
</head>

<body>
    <div class="disclaimer">OtaWilma on vielä kehityksen alaisena, ja toiminta on toistaiseksi rajattu laitteisiin
        joiden leveys ja korkeus ovat vähintään 1200px ja 800px</div>
    <div class="loading-screen" id="loading"></div>
    <div class="container" id="container">
        <div class="background" id="background">

        </div>
        <div class="top" id="top">
            <div class="user-info">
                <div class="user-data">
                    <h1 id="username"></h1>
                    <h2>Opiskelija</h2>
                </div>
            </div>
            <button id="/views/frontpage.html">
                <h1 class="logo-text">OtaWilma</h1>
            </button>
            <button id="/views/messages.html">
                <h5>Viestit</h5>
            </button>
            <button id="/views/grades.html">
                <h5>Opinnot</h5>
            </button>
            <button id="/views/course-tray.html">
                <h5>Kurssitarjotin</h5>
            </button>
            <button id="/views/news.html">
                <h5>Tiedotteet</h5>
            </button>
            <button id="/views/teachers.html">
                <h5>Opettajat</h5>
            </button>
            <button id="/views/settings.html">
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="side-bar" id="side-bar">

                <h1 class="themes">Teemat</h1>
                <h2>Valitse teema</h2>
                <h3>Vaalea teema</h3>
                <h3>Tumma teema</h3>

                <h1 class="own-themes">Omat teemasi</h1>
                <h2>Luo uusi teema</h2>

                <h1 class="edit-theme">Muokkaa teemaa</h1>
                <h2>Yleinen</h2>
                <h3>Ensijainen väri</h3>
                <h3>Taustojen ensijainen väri</h3>
                <h3>Taustojen toissijainen väri</h3>

                <h2>Teksti</h2>
                <h3>Otsikot</h3>
                <h3>Ensisijainen sisältö</h3>
                <h3>Toissijainen sisältöt</h3>
                <h3>Valikon logotekstin väri</h3>
                <h3>Valikon osioiden väri</h3>

                <h2>Ääriviivat ja varjostus</h2>
                <h3>Ääriviivojen ensisijainen väri</h3>
                <h3>Ääriviivojen toissijainen väri</h3>
                <h3>Varjostuksen ensisijainen väri</h3>
                <h3>Varjostuksen toissijainen väri</h3>

                <h2>Työjärjetys</h2>
                <h3>Työjärjetyksen taustan väri</h3>
                <h3>Työjärjetyksen tekstin väri</h3>
                <h2>Kurssitarjotin</h2>
                <h3>LOPS2021 ja LOPS2016 värit</h3>

                <h2>Muu</h2>
                <h3>Painikkeiden ensisijainen väri</h3>
                <h3>Painikkeiden toissijainen väri</h3>
                <h3>Virheilmoitusten ensisijainen väri</h3>
                <h1 class="backgrounds">Taustakuva</h1>
                <h2>Esikatselu</h2>

                <h1 class="choose-background">Valitse taustakuva</h1>
                <h2>Linkki</h2>

                <h1 class="background-effects">Tehosteet</h1>
                <h3>Sumennus</h3>
                <h3>Läpinäkyvyys</h3>
                <h3>Kirkkaus</h3>
                <h3>Sumennus</h3>
                <h3>Kontrasti</h3>
                <h3>Saturaatio</h3>
                <h3>Harmaasävyt</h3>
                <h3>Seepia</h3>
                <h3>Värin taitto</h3>
                <h3>Käänteisväri</h3>

                <h1 class="theme-options">Teeman toiminnot</h1>
                <h2>Poista teema</h2>

                <h1>Kehittäjälle</h1>
                <h2>Lähdekoodi</h2>
            </div>
            <div class="editor-loading-screen" id="editor-loading-screen"></div>
            <div class="settings-content" id="content">
                <div class="colors">
                    <h1 id="themes">Teemat</h1>
                    <div class="theme-list" id="default-themes">
                    </div>
                    <h1 id="own-themes">Omat teemasi</h1>
                    <h3 id="theme-count">0 / 10</h3>
                    <div class="theme-list" id="custom-themes">
                        <div class="theme" style="order: 9999;" id="new-theme">
                            <div class="theme-new">
                                <h3>Luo Teema</h3>
                            </div>
                        </div>
                    </div>
                    <h1 id="edit-theme">Muokkaa teemaa</h1>
                    <div class="editor-disabled" id="theme-editor">

                    </div>
                </div>
                <div class="backgrounds">
                    <h1 id="backgrounds">Taustakuva</h1>
                    <h1>Esikatselu</h1>
                    <div class="preview">
                        <img src="" alt="" id="background-preview">
                    </div>
                    <div class="editor-disabled" id="background-editor">
                        <h1 id="choose-background">Valitse taustakuva</h1>
                        <form class="background-input">
                            <label>Linkki</label>
                            <h3>Taustakuvasi linkkinä</h3>
                            <input type="url" id="url" placeholder="https://sivusto.com">
                        </form>
                        <div class="format-disclaimer">
                            <h3 id="format-label">.png</h3>
                        </div>
                        <h1 id="background-effects">Taustakuvan tehosteet</h1>
                        <form>
                            <label>Sumennus [0 - 10] |&nbsp;</label>
                            <input class="number-input" type="number" id="blur" min="0" value="0">
                        </form>
                        <form>
                            <label>Läpinäkyvyys [%] |&nbsp;</label>
                            <input class="number-input" type="number" id="opacity" min="0" value="0">
                        </form>
                        <form>
                            <label>Kirkkaus [%] |&nbsp;</label>
                            <input class="number-input" type="number" id="brightness" min="0" value="0">
                        </form>
                        <form>
                            <label>Kontrasti [%] |&nbsp;</label>
                            <input class="number-input" type="number" id="contrast" min="0" value="0">
                        </form>
                        <form>
                            <label>Saturaatio [%] |&nbsp;</label>
                            <input class="number-input" type="number" id="saturate" min="0" value="0">
                        </form>
                        <form>
                            <label>Harmaasävyt [%] |&nbsp;</label>
                            <input class="number-input" type="number" id="grayscale" min="0" value="0">
                        </form>
                        <form>
                            <label>Seepia [%] |&nbsp;</label>
                            <input class="number-input" type="number" id="sepia" min="0" value="0">
                        </form>
                        <form>
                            <label>Värin taitto [deg] |&nbsp;</label>
                            <input class="number-input" type="number" id="hue-rotate" min="-180" max="180" value="0">
                        </form>
                        <form>
                            <label>Käänteisväri [%] |&nbsp;</label>
                            <input class="number-input" type="number" id="invert" min="0" value="0">
                        </form>
                        <form>
                            <label>Reunojen pyöristys [0 - 10] |&nbsp;</label>
                            <input class="number-input" type="number" id="rounded-edges" min="0" value="0">
                        </form>
                    </div>
                </div>
                <div class="theme-actions" id="theme-actions">
                    <h1 class="theme-options">Teeman toiminnot</h1>
                    <h2 id="delete-theme">Poista Teema</h2>
                    <div class="removal-popup" id="removal-confirmation">

                        <h1>Oletko varma että haluat poistaa teeman?</h1>
                        <h3>Olet poistamassa luomasi teeman. Toimintoa <strong>ei</strong> voida perua, eli kun painat
                            <strong>Poista teema</strong>, teemasi on ikuisesti poissa.
                        </h3>
                        <button id="confirm-delete">Poista teema</button>
                        <h2 id="cancel-delete">Peruuta</h2>
                    </div>
                </div>
                <div class="account">
                    <div class="account-window">
                        <h1 class="title">OtaWilma-käyttäjä</h1>
                        <h1 id="username-field"></h1>
                        <h3 class="role">Opiskelija</h3>

                        <h2>Kirjautumishistoria</h2>
                        <div class="login-history" id="login-history">

                        </div>

                        <h2>OtaWilma-tunnus</h2>
                        <h3><strong>OtaWilma</strong>-tunnuksen takana ovat kaikki teemasi ja muokautuksesi Wilmaan.
                            Haluessasi voit käyttää samaa OtaWilma tunnusta monella <strong>eri laitteella</strong>
                            samanaikaisesti. Pidä kuitenkin huolta tunnuksestasi, sillä <strong>kuka tahansa</strong>
                            joka tietää OtaWilma tunnuksesi voi tehdä muokkauksia teemoihisi.</h3>

                        <form action="">
                            <input type="checkbox" name="" id="checkbox">
                            <h3>Pidän huolta OtaWilma-tunnuksestani ja ymmärrän sen jakamiseen liittyvät
                                <strong>riskit</strong>
                            </h3>
                        </form>
                        <h5 class="copy-button" id="copy-session">Kopio OtaWilma-tunnus</h5>

                        <h2>Synkronointi</h2>
                        <h3>OtaWilma tallentaa teemat ja niihin tehdyt muutokset ensisijaisesti välimuistiin.
                            Synkronoimalla voit ladata muilla laitteilla tehdyt muutokset pilvestä</h3>
                        <h5 id="sync">Synkronoi</h5>
                    </div>
                </div>
                <div class="advanced">
                    <h1>Kehittäjälle</h1>
                    <h3>Projektin lähdekoodi on vapaasti luettavissa kaikille. Jos haluasit osallistua
                        projektiin joillain tavalla, ota rohkeasti yhteyttä.</h3>
                    <h2>Lähdekoodi</h2>
                    <a href="https://github.com/Project-OtaWilma" class="source">https://github.com/Project-OtaWilma</a>
                </div>
            </div>
            <div class="settings-help">
                <div class="info">
                    <h1>OtaWilma asetukset</h1>
                    <h2>Teemat</h2>
                    <h3>Voit valita oletusteemojen väliltä ja luoda halutessasi myös omia teemoja. Tehokkaalla
                        editorilla voit mukauttaa Wilmasi värejä sekä taustakuvia.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>