<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtaWilma - Opettajat</title>

    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/teachers.css">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/favicon.ico">

    <meta name="viewport" content="width=1500, initial-scale=0.8">

    <script src="/assets/scripts/teachers.js"></script>
    <script src="/assets/scripts/nav-manager.js"></script>
    <script src="/assets/scripts/requests.js"></script>
    <script src="/assets/scripts/theme-manager.js"></script>
    <script src="/assets/scripts/error-manager.js"></script>
    <script src="/assets/scripts/wilma-api.js"></script>
</head>

<body>
    <div class="disclaimer">OtaWilma on vielä kehityksen alaisena, ja toiminta on toistaiseksi rajattu laitteisiin
        joiden leveys ja korkeus ovat vähintään 900px ja 600px</div>
    <div class="loading-screen" id="loading"></div>
    <div class="container">
        <div class="background" id="background"></div>
        <div class="top" id="top">
            <div class="user-info">
                <div class="user-data">
                    <h1 id="username"></h1>
                    <h2>Opiskelija</h2>
                </div>
            </div>
            <button id="/views/frontpage.html">
                <h1 class="logo-text">OtaWilma</h1>
            </button>
            <button id="/views/messages.html">
                <h5>Viestit</h5>
            </button>
            <button id="/views/grades.html">
                <h5>Opinnot</h5>
            </button>
            <button id="/views/course-tray.html">
                <h5>Kurssitarjotin</h5>
            </button>
            <button id="/views/news.html">
                <h5>Tiedotteet</h5>
            </button>
            <button id="/views/teachers.html">
                <h5>Opettajat</h5>
            </button>
            <button id="/views/settings.html">
                <h5>Asetukset</h5>
            </button>
        </div>
        <div class="content">
            <div class="side-bar" id="teacher-list">
            </div>
        </div>
        <div class="main" id="main" style="display: none;">
            <div class="left">
                <h1 id="name-field"></h1>
                <div class="actions">
                    <div class="open" id="open-button">
                        <div class="icon"></div>
                        <h2>Avaa Wilmassa</h2>
                    </div>
                    <div class="review" id="review-button">
                        <div class="icon"></div>
                        <h2>Arvioi opettajaa</h2>
                    </div>
                </div>
                <div class="task-list" id="task-list">
                </div>
                <div class="contact-info" id="contact-info">
                </div>
                <div class="comments" id="comments">
                </div>
            </div>
            <div class="right">
                <div class="teacher-adjectives">
                    <div class="adjective-list" id="adjective-list">

                    </div>
                </div>
                <h1 class="teaching-style" id="card-title">Opettajan opetustyyliä on arviotu seuraavasti</h1>
                <div id="course-pace" class="course-pace">
                    <div class="card">
                        <div class="title">
                            <h3>Opettajan pitämien</h3>
                            <h1>Tuntien tahti</h1>
                        </div>
                        <h6 class="label" id="course-pace-label">Ei riittävästi arvioita</h6>
                        <div id="course-pace-value" class="circular-value"
                            style="background: conic-gradient(var(--accent-main) 0deg 190deg, transparent 0deg);">
                            <div class="pointer"></div>
                            <div class="pointer"></div>
                            <div class="pointer"></div>
                            <div class="inner-circle">
                                <h1 id="course-pace-text"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="course-applicability" class="course-applicability">
                    <div class="card">
                        <div class="title">
                            <h3>Opettajan pitämien</h3>
                            <h1>Tuntien soveltavuus</h1>
                        </div>
                        <h6 class="label" id="course-applicability-label">Ei riittävästi arvioita</h6>
                        <div id="course-applicability-value" class="circular-value">
                            <div class="pointer"></div>
                            <div class="pointer"></div>
                            <div class="pointer"></div>
                            <div class="inner-circle">
                                <h1 id="course-applicability-text"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="course-difficulty" class="course-dificulty">
                    <div class="card">
                        <div class="title">
                            <h3>Opettajan pitämien</h3>
                            <h1>Tuntien haastavuus</h1>
                        </div>
                        <h6 class="label" id="course-difficulty-label">Ei riittävästi arvioita</h6>
                        <div id="course-difficulty-value" class="circular-value">
                            <div class="pointer"></div>
                            <div class="pointer"></div>
                            <div class="pointer"></div>
                            <div class="inner-circle">
                                <h1 id="course-difficulty-text"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-indicator teacher" id="teacher-loading-screen"></div>
    </div>
</body>