
.content {
    position: absolute;

    width: 95%;
    max-width: 1200px;
    height: 85%;
    max-height: 800px;

    background-color: var(--background-main);
    box-shadow: 0 0 15px var(--shadow-main);

    display: flex;
    flex-direction: row;
}

.left {
    position: absolute;
    width: 30%;
    height: 100%;

    left: 0;

    background-color: var(--background-darker);
}

.right {
    position: absolute;
    width: 70%;
    height: 100%;

    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.top-decoration {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;

    background-color: var(--accent-main);

    z-index: 3;
}

.statistics {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);

    top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-y: scroll;
}


.requests,
.timings,
.requests-weekday,
.percentage {
    right: 0;
    top: 0;
    width: 90%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}