.content {
    position: absolute;
    width: 75%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    box-shadow: 0 0 15px var(--shadow-main);
}

.tray-list {
    position: absolute;
    height: 100%;
    width: 250px;

    left: 0;

    border-left: solid 10px var(--accent-main);

    background-color: var(--background-main);

    border-right: solid 2px var(--border-main);

    overflow-y: scroll;
}

.tray-list .tray {
    margin: 20px;
}

.tray h1 {
    padding: 5px;
}

.tray .period-list {
    padding: 5px;

    border-left: solid 2px var(--border-main);
}

.period-list h2 {
    padding: 5px;

    transition: opacity .2s ease-in-out;
}

.period-list h2:hover {
    opacity: 50%;
}

.tray-main {
    position: absolute;
    height: 100%;
    width: calc(100% - 250px - 350px);

    left: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-main);

    overflow-y: scroll;
}

.tray-main .period {
    width: 90%;
    height: auto;

    margin-top: 30px;

    background-color: var(--background-main);

    border-bottom: solid 1px var(--border-main);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.period h1 {
    font-size: 20px;
    margin: 10px;
    padding: 10px;

    border-bottom: solid 2px var(--border-darker);
}

.period .bar {
    width: 90%;

    margin: 10px;

    display: flex;
    flex-direction: column;
}

.bar h2 {
    padding: 10px;
}

.bar .course-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-list div {
    margin: 2.5px;
    padding: 2.5px;

    cursor: pointer;

    box-shadow: 1px 1px rgba(0, 0, 0, 0.279);

    display: flex;
    justify-content: center;
    align-items: center;
}

.course-list div:hover>.course-data {
    opacity: 1;
}

.course-data {
    opacity: 0;
    margin-top: 100px !important;

    position: absolute;

    background-color: black;

    display: flex;
    flex-direction: column;

    transition: opacity .2s ease-in-out;

    pointer-events: none;
}

.course-data h2 {
    padding: 2px;
    margin: 0;
    font-size: 13px;
    color: white;
}

.course-list div {
    color: var(--course-tray-h1);
    padding: 4px;
}

/*
    course hashes

    "why the hell would they use different hashes for different schools, the course types are the same..."

    thereforte, will only work for periods in:
    "Espoon kesälukio 2022"
    "Otaniemen lukio 2021-2022"
    "Otaniemen lukio 2022-2023"
    "Otaniemen lukio 21-22, opiskelijat 18, 19 ja 20"
*/

.ksuor-off {
    background-color: rgb(178, 178, 178);
    opacity: 75%;

    border: solid 1px gray;
    box-shadow: none;
    color: rgb(90, 90, 90) !important;

    pointer-events: none;
}

.k70F27363_35245-off,
.k70F27363_35780-off,
.kAB14633F_1381-off,
.kAB14633F_1388-off {
    background-color: var(--L2021-mandatory-main);
}

.k70F27363_35249-off {
    background-color: var(--L2021-g-optional-main);
}

.k70F27363_35253-off,
.kAB14633F_1519-off {
    background-color: var(--L2021-l-optional-main);
}

.k70F27363_35763-off {
    background-color: var(--L2016-l-optional-main);
}

.k70F27363_35783-off {
    background-color: var(--L2016-g-optional-main);
}

.k70F27363_35245-on,
.k70F27363_35780-on,
.kAB14633F_1381-on,
.kAB14633F_1388-on {
    background-color: var(--L2021-mandatory-selected);
    border: solid 3px black;

    box-shadow: none;
    color: white !important;
}

.k70F27363_35249-on {
    background-color: var(--L2021-g-optional-selected);
    border: solid 3px black;

    box-shadow: none;
    color: white !important;
}

.k70F27363_35253-on,
.kAB14633F_1519-on {
    background-color: var(--L2021-l-optional-selected);
    border: solid 3px black;

    box-shadow: none;
    color: white !important;
}

.k70F27363_35763-on {
    background-color: var(--L2016-l-optional-selected);
    border: solid 3px black;

    box-shadow: none;
    color: white !important;
}

.k70F27363_35783-on {
    background-color: var(--L2016-g-optional-selected);
    border: solid 3px black;

    box-shadow: none;
    color: white !important;
}

.tray-info {
    height: 100%;
    width: 350px;

    position: absolute;
    right: 0;

    border-left: solid 2px var(--border-main);

    background-color: var(--background-main);

    overflow-y: scroll;
}

.tray-info h1 {
    font-size: 20px;
    margin: 10px;
    padding: 10px;

    border-bottom: solid 2px var(--border-main);
}

.tray-info h3 {
    margin: 5px;
}

.tray-info form {
    margin: 20px;
}

.tray-info select {
    padding: 5px;
    margin: 5px;

    background: none;
    color: var(--font-h2);
}

.tray-info #filter-button {
    margin: 20px;
}

.tray-info input {
    padding: 10px;
    margin: 5px;

    background-color: var(--background-main);
    box-shadow: 0 0 15px var(--shadow-main);

    font-style: italic;
    font-size: 15px;
}

.tray-info button {
    padding: 7px;
    margin: 5px;

    border-radius: 3px;
    color: white;
    background: linear-gradient(to bottom, var(--login-lighter), var(--login-main));

    transition: opacity .2s ease-in-out;
}

.tray-info button:hover {
    opacity: 75%;
}


.tray-info .course-info,
.tray-info .teacher-info {
    margin: 20px;
}

.course-info h1,
.teacher-info h1 {
    font-size: 17px;
    border: none;
    margin: 5px;
    padding: 0;
}

.tray-info ul {
    margin: 5px;
}

.tray-info ul a:nth-child(2) {
    font-family: 'semi-bold';
}

.tray-info ul a:nth-child(3) {
    color: var(--font-h3);
}

/* error */

.error {
    color: red;
}

.error-container {
    position: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 30;
    background-color: white;
}

.error-object {
    width: 350px;

    min-width: 128px;
    min-height: 128px;

    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 4px;
}

.error-image {
    width: 256px;
    height: 256px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://cdn.inschool.fi/2.33.34.2/nc3/img/error-pages/error-server-error.svg);
}

.error-object h1 {
    margin: 15px;
    color: black;
}

.error-object h2 {
    margin: 15px;
    color: rgb(30, 30, 30);
    text-align: center;
}

.error-object h3 {
    color: rgb(215, 215, 215);
    text-align: center;
}

.error-object h4 {
    padding: 10px;
}

.error-object h7 {
    padding: 10px;

    border-radius: 7px;

    background-color: rgb(47, 47, 47);
    color: rgb(200, 60, 60);
}

.error-object h5 {
    margin: 15px;
    padding: 7px;

    text-align: center;

    border-radius: 100px;

    font-family: 'semi-bold';
    font-size: 17px;
    color: white;

    background-color: rgb(200, 60, 60);
}