.content {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.content .main {
    position: absolute;
    width: 100%;
    height: 85%;

    max-width: 1500px;

    display: flex;
    flex-direction: column;
}

.top-c,
.bottom-c {
    width: 100%;
    height: 50%;

    margin: 5px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.main-c {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-top,
.right-bottom {
    width: 30%;
    height: 100%;

    max-width: 350px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom-left,
.bottom-right {
    width: 35%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule {
    width: 100%;
    height: 100%;

    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-left {
    background-color: var(--accent-main);
    height: 100%;

    padding: 20px;
    width: 30%;

    min-width: 200px;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 15px var(--shadow-darker);
    z-index: 3;
}

.schedule-left h1 {
    padding: 10px;
    padding-top: 200px;
    color: white;
    font-size: 30px;
}

.schedule-left h2 {
    padding: 5px;
    color: white;
    font-size: 14px;
}

.schedule-left input,
.schedule-left button {
    padding: 5px;
    color: white;
    font-size: 14px;
    padding: 5px;

    background: none;
}

.schedule-left button:hover {
    opacity: 75%;
}

.schedule-right {
    position: relative;
    height: 100%;
    width: 70%;

    box-shadow: 0 0 15px var(--shadow-main);

    z-index: 2;

    display: flex;
    flex-direction: row;

    background-color: var(--background-main);

    overflow-y: scroll;
    overflow-x: hidden;
}

.day {
    width: calc((100% / 5));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour {
    height: auto;
    width: 133px;

    min-height: 75px;
    max-height: 100px;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--schedule-main);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hour h1 {
    text-shadow: 0 0 7px var(--shadow-darker);
    color: var(--schedule-h1);
    align-self: flex-start;
    margin: 10px;
    font-size: 12px;
}

.data {
    height: 90%;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data h2 {
    text-shadow: 0 0 7px var(--shadow-darker);
    color: var(--schedule-h1);
    font-size: 13px;
    padding: 5px;
}

.data h2:nth-child(1) {
    font-family: 'semi-bold';
}

.data h2:nth-child(2),
.data h2:nth-child(3) {
    opacity: 50%;
}

.hour.special-1 {
    position: absolute;
    width: 133px;
    margin-top: 25px;

    height: auto;
    max-height: unset;
    min-height: 200px;
    z-index: 2;

    justify-content: flex-start;
}

.hour.special-2 {
    position: absolute;
    width: 133px;

    top: 250px;

    height: auto;
    max-height: unset;
    min-height: 200px;
    z-index: 2;

    justify-content: flex-start;
}

.warning {
    position: absolute;
    top: calc(5 * 85px);
    left: 0px;

    width: 200px;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;

    display: none;
}

.warning h1 {
    width: 90%;

    padding: 5px;

    border-bottom: solid 1px var(--error);

    text-align: center;

    color: var(--error);
    font-size: 13px;
}

.hour.external {
    margin-top: 60px;
    min-height: unset;
    max-height: unset;
    height: auto;
}

.hour.external .data {
    flex-direction: column;

    height: auto;
}

.hour.external .data h1 {
    order: -1;
    padding: 0;
    margin: 3px;
}

/* News */

.news {
    width: 100%;
    height: 100%;

    margin: 5px;

    box-shadow: 0 0 15px var(--shadow-main);

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    background-color: var(--background-main);
}

.news h1 {
    font-size: 25px;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;

    border-bottom: solid 1px var(--border-main);
}

.news-object {
    margin: 5px;
    padding: 10px;
}

.news-object h1 {
    font-size: 17px;
    text-align: left;
    margin: 2px;
    cursor: pointer;

    transition: opacity .2s ease-in-out;
}

.news-object h1:hover {
    opacity: 50%;
}


.news-object h3 {
    padding: 5px;
    margin: 5px;

    border-left: solid 1px var(--border-main);
}

.news-object h4 {
    margin-left: 5px;
    font-family: 'semi-bold';
}

/* Messages */

.messages {
    width: 100%;
    height: 100%;

    margin: 5px;

    box-shadow: 0 0 15px var(--shadow-main);

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: var(--background-main);
}

.messages h1 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 5px;

    border-bottom: solid 1px var(--border-main);
}

.messages h2 {
    align-self: center;

    width: 75%;

    text-align: center;
    font-family: 'semi-bold';

    padding: 5px;
    margin: 5px;

    border-bottom: solid 1px var(--border-main);
}

.messages h3 {
    max-width: 75%;

    width: 100%;
    align-self: center;
    text-align: center;
}

.message-object {
    margin: 5px;
    padding: 10px;

    border: solid 1px var(--border-main);
    border-radius: 5px;

    cursor: pointer;
}

.message-object:hover>h1 {
    filter: brightness(200%);
}

#unread {
    border-left: solid 5px var(--accent-main);
}

.message-object h1 {
    font-size: 17px;
    text-align: left;
    margin: 2px;

    border: none;
}

.message-object h3 {
    margin: 5px;
    max-width: unset;
    text-align: start;
}

.message-object h4 {
    margin-left: 5px;
    font-family: 'semi-bold';
    color: var(--font-h2);
}

/* Grades */

.grades {
    width: 100%;
    height: 100%;

    margin: 5px;

    box-shadow: 0 0 15px var(--shadow-main);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: var(--background-main);
}

.grades ul a:nth-child(2) {
    font-family: 'semi-bold' !important;
}

.grades h1 {
    font-size: 25px;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 15px;

    margin-left: 20px;

    border-bottom: solid 1px var(--border-main);
}

.grades .overview {
    padding: 10px;
    margin: 5px;

    border-left: solid 1px var(--border-main);

    margin-left: 20px;
}

.overview ul {
    padding: 5px;
}

.grade-object {
    margin: 5px;
    margin-left: 20px;
}

.grade-object h1 {
    font-size: 17px;
    text-align: start;
    border: none;
    margin: 2px;

}

.grade-object ul {
    margin-left: 15px;
}


/* Clock */

.clock {
    position: absolute;
    width: 150px;
    top: 30px;
    aspect-ratio: 1 / 1;
    height: auto;

    border-radius: 50%;

    border: solid var(--schedule-main) 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-marking-x {
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: white;
}

.clock-marking-y {
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: white;

    transform: rotate(90deg);
}

.clock-marking {
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.686);
}

.clock-marking.one {
    transform: rotate(-30deg);
}

.clock-marking.two {
    transform: rotate(-60deg);
}

.clock-marking.two {
    transform: rotate(-60deg);
}

.clock-marking.three {
    transform: rotate(30deg);
}

.clock-marking.four {
    transform: rotate(60deg);
}

.clock .inner-circle {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: var(--accent-main);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hand {
    position: absolute;
    top: 50%;

    transform-origin: 50% 0;
    transform: rotate(180deg);

    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.sec {
    height: 47%;
    width: 2px;

    background-color: var(--schedule-main);
    filter: brightness(90%);
}

.hand.min {
    height: 40%;
    width: 3px;

    background-color: var(--schedule-main);
    filter: brightness(110%);
}

.hand.hour {
    height: 35%;
    width: 4px;

    background-color: white;
}

.inner-circle .center {
    width: 7px;
    height: 7px;

    background-color: white;

    border-radius: 50%;
    position: absolute;
}