.content {
    position: absolute;
    width: 80%;
    height: 80%;

    max-width: 1200px;
    max-height: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-container {
    position: absolute;
    width: 100%;
    height: 50%;

    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.top-container .left {
    position: absolute;
    width: calc(100% - 250px - 300px);
    height: 100%;

    right: calc(250px + 300px);
}

.top-container .middle {
    position: absolute;
    width: 250px;
    height: 110%;

    right: 300px;

    background-color: var(--accent-main);

    box-shadow: 0 0 15px var(--shadow-main);

    z-index: 2;
}

.top-container .right {
    position: absolute;
    width: 300px;
    height: 100%;

    right: 0;

}

.bottom-container {
    position: absolute;
    width: 100%;
    height: 50%;

    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-container .left,
.top-container .right,
.bottom-container .left,
.bottom-container .middle,
.bottom-container .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-container .left {
    position: absolute;
    height: 100%;
    width: calc(85% - 300px - 250px);
    right: calc(300px + 250px);
}

.bottom-container .middle {
    position: absolute;
    height: 90%;
    width: 250px;
    right: 300px;
}

.bottom-container .right {
    position: absolute;
    height: 100%;
    width: 300px;
    right: 0;
}

.grades,
.messages,
.news,
.schedule {
    position: absolute;
    width: 95%;
    height: 95%;

    box-shadow: 0 0 15px var(--shadow-main);
    background-color: var(--background-main);

    display: flex;
    flex-direction: column;

    border-left: solid 5px var(--accent-main);

    overflow-y: scroll;
    overflow-x: hidden;
}

.messages h1 {
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 5px;

    cursor: pointer;
    user-select: none;
}

.messages h1:hover {
    opacity: 50%;
}

.messages h2 {
    align-self: center;

    width: 75%;

    text-align: center;
    font-family: 'semi-bold';

    padding: 5px;
    margin: 5px;

    border-bottom: solid 1px var(--border-main);
}

.messages h3 {
    max-width: 75%;

    width: 100%;
    align-self: center;
    text-align: center;
}

.message-object {
    margin: 5px;
    padding: 10px;

    border: solid 1px var(--border-main);
    border-radius: 5px;

    cursor: pointer;
}

.message-object h1 {
    font-size: 17px;
    text-align: left;
    margin: 2px;

    border: none;

    transition: opacity .2s ease-in-out;
}

.message-object:hover>h1 {
    opacity: 50%;
}

.message-object h3 {
    margin: 5px;
    max-width: unset;
    text-align: start;
}

.message-object h4 {
    margin-left: 5px;
    font-family: 'semi-bold';
    color: var(--font-h2);
}

.news h1 {
    font-size: 25px;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;


    cursor: pointer;
    user-select: none;
}

.news h1:hover {
    opacity: 50%;
}


.news-object {
    margin: 5px;
    padding: 10px;
}

.news-object h1 {
    font-size: 17px;
    text-align: left;
    margin: 2px;
    cursor: pointer;

    transition: opacity .2s ease-in-out;
}

.news-object h1:hover {
    opacity: 50%;
}

.news-object h3 {
    padding: 5px;
    margin: 5px;

    border-left: solid 1px var(--border-main);
}

.news-object h4 {
    margin-left: 5px;
    font-family: 'semi-bold';
}

.grades ul a:nth-child(2) {
    font-family: 'semi-bold' !important;
}

.grades h1 {
    font-size: 25px;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: 15px;

    margin-left: 20px;

    cursor: pointer;
    user-select: none;
}

.grades h1:hover {
    opacity: 50%;
}


.grades .overview {
    padding: 10px;
    margin: 5px;

    border-left: solid 1px var(--border-main);

    margin-left: 20px;
}

.overview ul {
    padding: 5px;
}

.grade-object {
    margin: 5px;
    margin-left: 20px;
}

.grade-object h1 {
    font-size: 17px;
    text-align: start;
    border: none;
    margin: 2px;

}

.grade-object ul {
    margin-left: 15px;
}

.schedule {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.day {
    position: absolute;
    width: calc((100% / 5));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day:nth-child(2) {
    left: calc((100% / 5) * 1);
}

.day:nth-child(3) {
    left: calc((100% / 5) * 2);
}

.day:nth-child(4) {
    left: calc((100% / 5) * 3);
}

.day:nth-child(5) {
    left: calc((100% / 5) * 4);
}

.date {
    margin-top: 5px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour {
    height: auto;
    width: 95%;

    min-height: 55px;

    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--schedule-main);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hour h1 {
    text-shadow: 0 0 7px var(--shadow-darker);

    color: var(--schedule-h1);
    align-self: flex-start;
    margin: 10px;
    font-size: 10px;
}

.data {
    height: 90%;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data h2 {
    text-shadow: 0 0 7px var(--shadow-darker);
    color: var(--schedule-h1);
    font-size: 11px;
    padding: 5px;
}

.data h2:nth-child(1) {
    font-family: 'semi-bold';
}

.data h2:nth-child(2),
.data h2:nth-child(3) {
    opacity: 50%;
}

.hour.special-1 {
    position: absolute;
    width: 95%;

    top: 25px;

    height: 50%;
    max-height: unset;
    z-index: 2;

    justify-content: flex-start;
}

.hour.special-2 {
    position: absolute;
    width: 95%;
    margin-top: 30px;
    top: 50%;

    height: 50%;
    max-height: unset;
    z-index: 2;

    justify-content: flex-start;
}

.warning {
    position: absolute;

    top: 100%;

    width: 200px;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;

    display: none;
}

.warning h1 {
    width: 90%;

    padding: 5px;

    border-bottom: solid 1px var(--error);

    text-align: center;

    color: var(--error);
    font-size: 13px;
}

.hour.external {
    position: absolute;
    top: calc(100% + 75px);

    border-left: solid 2px var(--error);

    min-height: unset;
    max-height: unset;
    height: auto;
}

.hour.external .data {
    flex-direction: column;

    height: auto;
}

.hour.external .data h1 {
    order: -1;
    padding: 0;
    margin: 3px;
}

.schedule-loading-screen {
    position: absolute;
    width: 64px;
    height: 64px;

    bottom: 10px;
    left: 10px;

    background-image: url(/assets/img/loading-book.gif);
    background-position: center center;
    background-size: 64px 64px;
    background-repeat: no-repeat;

    filter: brightness(0);

    display: none;
}

.top-container .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    position: absolute;
    top: calc(30px + 150px + 10px);
    height: calc(100% - 30px - 150px - 10px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h2 {
    color: var(--font-h4);
    font-size: 20px;
    margin: 10px;
}

.info form {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info form input,
.info form button {
    background: none;
    color: var(--font-h4);
}


.links {
    position: absolute;
    width: 95%;
    height: 60%;
    top: 5%;

    box-shadow: 0 0 15px var(--shadow-main);
    background-color: var(--background-main);

    display: flex;
    flex-direction: column;

    border-left: solid 5px var(--accent-main);

    overflow-y: scroll;
    overflow-x: hidden;
}

.links h3 {
    padding: 10px;
    color: var(--font-h1);
    font-family: 'semi-bold';
    font-size: 17px;
}

.links h1 {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

.links .link {
    width: 90%;
    margin-left: 5px;
    align-self: center;

    border-left: solid 1px var(--border-main);
}

.link {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.link a {
    margin: 2px;

    cursor: pointer;

    color: var(--font-h2);
    text-decoration: underline;
}


/* clock */
.clock {
    position: absolute;
    width: 150px;
    height: 150px;

    top: 30px;

    border-radius: 50%;

    border: solid var(--font-h4) 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-marking-x {
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: var(--font-h4);
}

.clock-marking-y {
    position: absolute;
    width: 90%;
    height: 3px;
    background-color: var(--font-h4);

    transform: rotate(90deg);
}

.clock-marking {
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: var(--font-h4);
    opacity: 75%;
}

.clock-marking.one {
    transform: rotate(-30deg);
}

.clock-marking.two {
    transform: rotate(-60deg);
}

.clock-marking.two {
    transform: rotate(-60deg);
}

.clock-marking.three {
    transform: rotate(30deg);
}

.clock-marking.four {
    transform: rotate(60deg);
}

.clock .inner-circle {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: var(--accent-main);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hand {
    position: absolute;
    top: 50%;

    transform-origin: 50% 0;
    transform: rotate(180deg);

    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.sec {
    height: 47%;
    width: 2px;

    background-color: var(--font-h4);
    opacity: 75%;
    filter: brightness(90%);
}

.hand.min {
    height: 40%;
    width: 3px;

    background-color: var(--font-h4);
    opacity: 80%;
    filter: brightness(110%);
}

.hand.hour {
    height: 35%;
    width: 4px;

    background-color: var(--font-h4);
}

.inner-circle .center {
    width: 7px;
    height: 7px;

    background-color: var(--font-h4);

    border-radius: 50%;
    position: absolute;
}